<include file='Public:manage_header' />

<div class="wid1200 main shangbiao">
	<div class="titbg" style="background:url('__PUBLIC__/home/img/titbg.jpg');">
		<h4>我的待办</h4>
	</div>
	<div class="sminfo clearfix">
		<div class="manage r clearfix">
			<a href="javascript:;" class="del" id="del"></a>
			<a href="javascript:;" class="outload" id="outload"></a>
			<a href="javascript:;" class="load" id="load"></a>
			<a href="/OnlineManage/shangbiaosearch" class="select" id="select"></a>
			<a href="/OnlineManage/shangbiaoadd" class="add" id="add"></a>
		</div>
		<span>客户号：FT981-002</span>
		<span>客户名称：太原新泰基网络科技有限公司</span>
	</div>
	<div class="tit">
		<span>待办事项</span>
		<span><i class="iconfont icon-kefu-copy"></i>联系客服</span>
	</div>
	<div class="thingbox">
		<div class="list clearfix">
			<span class="r">年费缴纳</span>
			<a href="javascript:;">滑翔机发明专利实质审查，<期限截止日> 2018-12-12</a>
		</div>
		<div class="list clearfix">
			<span class="r">年费缴纳</span>
			<a href="javascript:;">滑翔机发明专利实质审查，<期限截止日> 2018-12-12</a>
		</div>
		<div class="list clearfix">
			<span class="r">年费缴纳</span>
			<a href="javascript:;">滑翔机发明专利实质审查，<期限截止日> 2018-12-12</a>
		</div>
		<div class="list clearfix">
			<span class="r">年费缴纳</span>
			<a href="javascript:;">滑翔机发明专利实质审查，<期限截止日> 2018-12-12</a>
		</div>
		<div class="list clearfix">
			<span class="r">年费缴纳</span>
			<a href="javascript:;">滑翔机发明专利实质审查，<期限截止日> 2018-12-12</a>
		</div>
		<div class="list clearfix">
			<span class="r">年费缴纳</span>
			<a href="javascript:;">滑翔机发明专利实质审查，<期限截止日> 2018-12-12</a>
		</div>
	</div>	
	<br />
	<br />
	<div class="tit">
		<span>流程进度</span>
	</div>
	<div class="thingbox">
		<div class="list clearfix">
			<a href="javascript:;">第32219384号商标“梦迷”已递交商标续展申请<操作日期> 2017-12-12</a>
		</div>
		<div class="list clearfix">
			<a href="javascript:;">第22102933号外观专利已缴费，<操作日期> 2017-8-12</a>
		</div>
	</div>	
</div>

<include file='Public:footer' />

</body>
</html>