<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$web_name}</title>
	<!-- 公共css -->
<link rel="stylesheet" type="text/css" href="/dist/home/css/global.css?<?php echo time(); ?>">
<!-- index -->
<link rel="stylesheet" type="text/css" href="/dist/home/css/index.css?<?php echo time(); ?>">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_v7l7dcv6hudte29.css">
    <!-- css字体  -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/95051/19382/5abfa052f629d90fa8a8ebee.css' rel='stylesheet' type='text/css' />
</head>
<body class="onlinemanage">

<div class="header">
	<div class="logo l">
		<a href="/" title="{$web_name}"><img src="/dist/home/img/logo.png" /></a>
	</div>
	<div class="phone r">
		<i class="iconfont icon-dianhua"></i>
	</div>
</div>

<include file='Public:footer' />

</body>
</html>