<include file='Public:manage_header' />

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="wid1200 main patent" id="contents">
	<div class="q-link">
		<a class="" href="__MODULE__/OnlineManage/patent_case_search#contents">案件查询</a>
		<a class="act" href="__MODULE__/OnlineManage/patent_case_process_ing#contents">案件管理</a>
		<a href="__MODULE__/OnlineManage/patent_moneyyears#contents">年费管理</a>
	</div>
	<div class="searchbox">
		<form role="form">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td width="14%" class="bgf2f6f8 text-center">处理事项</td>
						<td width="36%">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入您的邮箱地址">
						</td>
						<td width="14%" class="bgf2f6f8 text-center">完成日</td>
						<td width="36%">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入您的邮箱地址">
						</td>
					</tr>
				</tbody>
			</table>
			<div class="button">
				<a href="javascript:;">查询</a>
			</div>
		</form>
	</div>
	<div class="searchresult ing">
		<form role="form">
			<table class="table table-bordered text-center">
				<thead>
					<tr class="tit">
						<th colspan="6">
							<a class="" href="__MODULE__/OnlineManage/patent_case_process_ing#contents">进行中</a>
							<span>|</span>
							<a class="act" href="javascript:;">已完成</a>
						</th>
					</tr>
					<tr>
						<th>序号</th>
						<th>审核号</th>
						<th>案件名称</th>
						<th>申请类型</th>
						<th>授权日</th>
						<th>官方发文日</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>2017012012</td>
						<td>名称</td>
						<td>测试</td>
						<td>测试</td>
						<td>名称</td>
					</tr>
				</tbody>
			</table>
		</form>
		<div class="page">页码</div>
	</div>
</div>

<div id="cxclslist"><div class="clearfix"></div></div>

<include file='Public:footer' />
<script type="text/javascript">

$(function(){
	index.load();
});
	
var index = {

	load : function(){
	}
}

</script>
</body>
</html>