<include file='Public:manage_header' />

<div class="wid1200 main shangbiao">
	<div class="titbg" style="background:url('__PUBLIC__/home/img/titbg.jpg');">
		<h4>商标管理</h4>
	</div>
	<div class="sminfo clearfix">
		<div class="manage r clearfix">
			<a href="javascript:;" class="del" id="del"></a>
			<a href="javascript:;" class="outload" id="outload"></a>
			<a href="javascript:;" class="load" id="load"></a>
			<a href="/OnlineManage/shangbiaosearch" class="select" id="select"></a>
			<a href="/OnlineManage/shangbiaoadd" class="add" id="add"></a>
		</div>
		<span>客户号：FT981-002</span>
		<span>客户名称：太原新泰基网络科技有限公司</span>
	</div>
	<div class="tit">
		<span class="ed"></span>
		<span><i class="iconfont icon-kefu-copy"></i>联系客服</span>
	</div>
	<div class="search clearfix">
		<form id="search">
			<div class="clearfix">
				<input type="hidden" name="cxcls" value="">
				<div class="inputbox l">
					<select class="searchtype" name="cxtype">
						<option value="2">商标名称</option>
						<option value="3">申请人名称</option>
						<option value="1">商标注册号</option>
					</select>
					<input type="text" name="cxkey" autocomplete="off" placeholder="请输入商标注册/申请号">
					<span class="goodstype" id="setcxcls">类别</span>
				</div>
				<a href="javascript:;" id="searchsubmit" class="l submit"><i class="iconfont icon-sousuo"></i></a>
			</div>
			<p id="cxclsreview"></p>
		</form>
	</div>
	<table class="smbox" id="reviewtmp" cellspacing="0" cellpadding="0" style="display:none;">
		<thead>
			<tr style="background: #eef4f6">
				<th>注册号/申请号</th>
				<th>商标名称</th>
				<th>国际分类</th>
				<th>注册日期</th>
				<th>截止日期</th>
				<th>状态</th>
				<th>详细信息</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div id="result">
		<div class="nodata">
			<small><br></small>
		</div>
	</div>
	<div class="page" id="searchpage"></div>
</div>

<div id="cxclslist"><div class="clearfix"></div></div>

<include file='Public:footer' />
<script type="text/javascript">

$(function(){
	index.load();
});
	
var index = {
	chg : function(){
		$('.inputbox .searchtype').on('change',function(){
			var that = $(this);
			if(that.val() == 1){
				that.parent().find('.goodstype').show();
			}else{
				that.parent().find('.goodstype').hide();
			}
		});
	},
	click : function(){

		// 删除一行
		$('body').on('click','.smbox .iconfont',function(){
			var index = layer.load(2, {
				hade: [0.1,'#fff'] //0.1透明度的白色背景
			});
			var that = $(this);
			var tmcode = that.parent().parent().attr('data-tmcode');
			$.get('__MODULE__/ManageTrademark/del/tmcode/'+tmcode,function(data){
				console.log(data);
				if(data.state == 200){
					layer.close(index);
					$('#tmcode'+tmcode).remove();
					if($('#reviewtmp tbody tr').length < 1){
						$('#reviewtmp').hide();
					}
					$('#reviewtmp tr:even').css('background','#eef4f6');
				}else if(data.state == 201){
					layer.close(index);
					window.location.href=data.url;
				}else{
					layer.close(index);
					layer.msg(data.msg);
				}
			});
		});

		// 搜索的时候
		$('body').on('click','#search .submit',function(){
			index.temp();
			// index.search(1);
		});

		// 弹出类别
		$('body').on('click','#setcxcls',function(){
			layer.open({
				type: 1,
				title: false,
				closeBtn: 0,
				area: '516px',
				skin: 'layui-layer-nobg', //没有背景色
				shadeClose: true,
				content: $('#cxclslist')
			});
		});

		// 选择类别
		$('body').on('click','#cxclslist span font',function(){
			var that = $(this).parent();
			if(that.hasClass('active')){
				that.removeClass('active');
			}else{
				that.addClass('active');
			}
			// 统计已选择的类别，并放入input
			var tmp = [];
			var tmpName = '<small>已选择：</small>';
			// 定时器
			var _i = 0;
			$('#cxclslist span').each(function(k,v){
				var thats = $(this);
				if(thats.hasClass('active')){
					// cid拼接
					tmp.push(thats.attr('data-cid'));
					// name拼接
					tmpName += thats.html()+'、';
					_i++;
				}
			});
			if(_i == $('#cxclslist span.active').length){
				$('input[name="cxcls"]').val(tmp);
			}
			if(_i > 0){
				$('#cxclsreview').html(tmpName).show();
			}else{
				$('#cxclsreview').hide();
			}
		});
	},

	search : function(pageno){
		$('#result').html('<div class="loading"><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading" width="15"></div>');
		if($('input[name="cxkey"]') == ''){
			layer.msg('查询关键字不能为空');
			$('#result').html('<div class="nodata"><small>查询失败！~~</small></div>');
			return false;
		}
		$.post('__MODULE__/ConnectIndustry/getTrademarkInquiriesNew',{
			cxkey:$('input[name="cxkey"]').val(),
			cxcls:$('input[name="cxcls"]').val(),
			cxtype:$('select[name="cxtype"]').val(),
			pagesize:15,
			pageno:pageno,
		},function(data){
			console.log(data);
			if(data.jgcode == 0){
				var html = '<div class="tit"><font>查询结果</font></div><table class="smbox" cellspacing="0" cellpadding="0"><thead><tr style="background: #eef4f6"><th>注册号/申请号</th><th>商标名称</th><th>国际分类</th><th>注册日期</th><th>截止日期</th><th>状态</th><th>详细信息</th><th>添加管理</th></tr></thead><tbody>';
				$(data.jgdata).each(function(k,v){
					html += '<tr><td>'+v.tmcode+'</td><td>'+v.tmname+'</td><td>'+v.intcls+'</td><td>'+v.zcdate+'</td><td>'+v.jzdate+'</td><td>'+v.tmlaw+'</td><td><a href="javascript:;" id="readmore" data-regno="'+v.regno+'" data-intcls="'+v.intcls+'" data-tmname="'+v.tmname+'" data-tmcode="'+v.tmcode+'">查看</a></td><td><input type="checkbox" class="toManage" data-regno="'+v.regno+'" data-intcls="'+v.intcls+'" data-tmname="'+v.tmname+'" data-tmcode="'+v.tmcode+'"></td></tr>';
				});
				html += '</tbody></table>';
				$('#result').html(html);
				$('#result .smbox tr:even').css('background','#eef4f6');
				// 分页
				var prev = (pageno-1) <= 0?1:(pageno-1);
				var next = pageno+1;
				var lastpage = Math.ceil(data.jgnumber/15);
				if((data.jgnumber-pageno*15) >0){
					var html2 = '<a href="javascript:index.search(1);">首页</a><a href="javascript:index.search('+prev+');">上一页</a><a href="javascript:index.search('+next+');">下一页</a><a href="javascript:index.search('+lastpage+');">尾页</a>';
					$('#searchpage').html(html2);
				}else{

				}

				// 添加选择状态
				if($('#reviewtmp tbody tr').length > 0){
					var tmcodearr = ',';
					$('#reviewtmp tbody tr').each(function(k,v){
						tmcodearr += $(this).attr('data-tmcode')+',';
					});
					$('#result tbody tr input').each(function(k,v){
						var inputs = $(this);
						if(tmcodearr.indexOf(','+inputs.attr('data-tmcode')+',') >= 0){
							inputs.prop('checked',true);
						}else{
							inputs.prop('checked',false);
						}
					});
				}

			}else{
				var html = '<div class="nodata">'+data.jgmemo+'</div>';
				$('#result').html(html);
			}
		});
	},

	// 测试数据用
	temp : function(){
		var html = '<div class="tit"><font>查询结果</font></div><table class="smbox" cellspacing="0" cellpadding="0"><thead><tr style="background: #eef4f6"><th>注册号/申请号</th><th>商标名称</th><th>国际分类</th><th>注册日期</th><th>截止日期</th><th>状态</th><th>详细信息</th><th>添加管理</th></tr></thead><tbody>';
		var html2 = '{"jgcode":"0","jgmemo":"success","jgresidue":"25","jgnumber":"39","jgdata":[{"tmcode":"1600038","regno":"5318ABE942CF475F","zcdate":"2001-07-14","jzdate":"2011-07-13","intcls":"01","tmname":"NET  NET 123","appdate":"2000-01-07","appname":"美国实华开电子商务集团公司 SPARKICE.COM,INC.U.S.A.","tmimage":"http://pic.cha-tm.net/chatmimg/tmutil/default.do?method=showimage&guid=015318ABE942CF475F","tmlaw":"已销亡"},{"tmcode":"581932","regno":"262314B795C59C91","zcdate":"1992-02-10","jzdate":"2012-02-09","intcls":"01","tmname":"NC   123","appdate":"1991-02-22","appname":"NCH公司 NCH CORPORATION","tmimage":"http://pic.cha-tm.net/chatmimg/tmutil/default.do?method=showimage&guid=01262314B795C59C91","tmlaw":"已销亡"}]}';
		html2 = JSON.parse(html2);
		console.log(html2);
		$(html2.jgdata).each(function(k,v){
			html += '<tr><td>'+v.tmcode+'</td><td>'+v.tmname+'</td><td>'+v.intcls+'</td><td>'+v.zcdate+'</td><td>'+v.jzdate+'</td><td>'+v.tmlaw+'</td><td><a href="javascript:;" id="readmore" data-regno="'+v.regno+'" data-intcls="'+v.intcls+'" data-tmname="'+v.tmname+'" data-tmcode="'+v.tmcode+'">查看</a></td><td><input type="checkbox" class="toManage" data-regno="'+v.regno+'" data-intcls="'+v.intcls+'" data-tmname="'+v.tmname+'" data-tmcode="'+v.tmcode+'"></td></tr>';
		});
		html += '</tbody></table>';
		$('#result').html(html);
	},

	// 阅读某个商标的详细信息
	readmore : function(){
		$('body').on('click','#readmore',function(){
			var that = $(this);
			layer.open({
				type: 2,
				title: '【'+that.attr('data-tmname')+'】_商标详情',
				shadeClose: true,
				shade: 0.8,
				area: ['850px', '90%'],
				content: '__MODULE__/ConnectIndustry/readmore/regno/'+that.attr('data-regno')+'/intcls/'+that.attr('data-intcls') //iframe的url
			}); 
		});
	},

	toManage : function(){
		$('body').on('click','#result .toManage',function(){
			var index = layer.load(2, {
				hade: [0.1,'#fff'] //0.1透明度的白色背景
			});
			var that = $(this);
			if(that.is(':checked')){
				$.get('__MODULE__/ConnectIndustry/getmoreinfoNew/regno/'+that.attr('data-regno')+'/intcls/'+that.attr('data-intcls'),function(data){
					console.log(data);
					if(data.jgcode == 0){
						$.post('__MODULE__/ManageTrademark/addNew',{
							regno:that.attr('data-regno'),
							tmcode:that.attr('data-tmcode'),
							intcls:data.jgdata[0].intcls,
							tmname:data.jgdata[0].tmname,
							csggqh:data.jgdata[0].csggqh,
							tmlaw:data.jgdata[0].tmlaw,
							appdate:data.jgdata[0].appdate,
							csdate:data.jgdata[0].csdate,
							regdate:data.jgdata[0].regdate,
							enddate:data.jgdata[0].enddate,
							appname:data.jgdata[0].appname,
							appaddr:data.jgdata[0].appaddr,
							agentname:data.jgdata[0].agentname,
							tmimage:data.jgdata[0].tmimage,
							tmgoods:data.jgdata[0].tmgoods,
							tmgroup:data.jgdata[0].tmgroup,
							tmggnum:data.jgdata[0].tmggnum,
							tmsblx:data.jgdata[0].tmsblx,
							zcggqh:data.jgdata[0].zcggqh,
						},function(data2){
							console.log(data2);
							if(data2.state == 200){
								layer.close(index);
								layer.msg(data2.msg);
							}else if(data2.state == 201){
								layer.close(index);
								window.location.href=data2.url;
							}else{
								layer.close(index);
								layer.msg(data2.msg);
							}
						});
						
						// 将所选数据复制到上面box
						var td = that.parent().parent().find('td');
						var html = '<tr id="tmcode'+td.eq(0).text()+'" data-tmcode="'+td.eq(0).text()+'"><td><i class="iconfont icon-shanchu4"></i>'+td.eq(0).text()+'</td><td>'+td.eq(1).text()+'</td><td>'+td.eq(2).text()+'</td><td>'+td.eq(3).text()+'</td><td>'+td.eq(4).text()+'</td><td>'+td.eq(5).text()+'</td><td><a href="javascript:;" id="readmore" data-regno="'+td.find('input').attr('data-regno')+'" data-intcls="'+td.eq(2).text()+'" data-tmname="'+td.eq(1).text()+'">查看</a></td></tr>';
						$('#reviewtmp tbody').append(html);
						if($('#reviewtmp tbody tr').length > 0){
							$('#reviewtmp').show();
						}
						$('#reviewtmp tr:even').css('background','#eef4f6');
					}else if(data.jgcode == 10001){
						layer.close(index);
						layer.msg(data.jgmemo);
						setTimeout(function(){
							window.location.href='__MODULE__/Member/login';
						},1500);
					}else{
						layer.close(index);
						layer.msg(data.jgmemo);
						return false;
					}
				});
			}else{
				// 这里删除
				$.get('__MODULE__/ManageTrademark/del/tmcode/'+that.attr('data-tmcode'),function(data){
					console.log(data);
					if(data.state == 200){
						layer.close(index);
						$('#tmcode'+that.attr('data-tmcode')).remove();
						if($('#reviewtmp tbody tr').length < 1){
							$('#reviewtmp').hide();
						}
						$('#reviewtmp tr:even').css('background','#eef4f6');
					}else if(data.state == 201){
						layer.close(index);
						window.location.href=data.url;
					}else{
						layer.close(index);
						layer.msg(data.msg);
					}
				});
			}
		});
	},

	// 加载类别信息
	loadcxcls : function(){
		$.get('__MODULE__/TrademarkClassification/ajaxGetAllFromPid/pid/0',function(data){
			console.log(data);
			if(data.state == 200){
				var html = '';
				$(data.data).each(function(k,v){
					html += '<span data-cid="'+v.cid+'"><font>第'+v.cid+'类&nbsp;'+v.title+'</font></span>';
				});
				$('#cxclslist div').html(html);
			}
		});
	},

	load : function(){
		this.chg();

		this.click();

		// 读取详细信息
		this.readmore();

		// 保存或取消
		this.toManage();

		// 加载类别
		this.loadcxcls();
	}
}

</script>
</body>
</html>