<include file='Public:manage_header' />

<div class="wid1200 main shangbiao">
	<div class="titbg" style="background:url('__PUBLIC__/home/img/titbg.jpg');">
		<h4>商标管理</h4>
	</div>
	<div class="sminfo clearfix">
		<div class="manage r clearfix">
			<a href="javascript:;" class="del" id="del"></a>
			<a href="javascript:;" class="outload" id="outload"></a>
			<a href="javascript:;" class="load" id="load"></a>
			<a href="/OnlineManage/shangbiaosearch" class="select" id="select"></a>
			<a href="/OnlineManage/shangbiaoadd" class="add" id="add"></a>
		</div>
		<span>客户号：FT981-002</span>
		<span>客户名称：太原新泰基网络科技有限公司</span>
	</div>
	<div class="tit">
		<span class="ed">已管理</span>
		<span><i class="iconfont icon-kefu-copy"></i>联系客服</span>
	</div>
	<div class="selectData">
		<p>任意条件搜索</p>
		<form id="MTsearch">
			<div class="box clearfix">
				<div class="tit l">商标搜索：</div>
				<div class="inputbox l"><input style="width: 400px;" type="text" placeholder="请输入商标名称" name="tmname"></div>
			</div>
			<div class="box clearfix">
				<div class="tit l">商标类型：</div>
				<div class="inputbox l">
					<label><input type="radio" name="types" value="__MODULE__/ManageTrademark/search" checked>国内商标</label>
					<label><input type="radio" name="types" value="">国际商标</label>
				</div>
			</div>
			<div class="box clearfix date">
				<div class="tit l">申请日期：</div>
				<div class="inputbox l">
					<input type="text" name="appdate_s"> -- <input type="text" name="appdate_e">
				</div>
			</div>
			<div class="box clearfix date">
				<div class="tit l">初审日期：</div>
				<div class="inputbox l">
					<input type="text" name="csdate_s"> -- <input type="text" name="csdate_e">
				</div>
			</div>
			<div class="box clearfix date">
				<div class="tit l">注册日期：</div>
				<div class="inputbox l">
					<input type="text" name="regdate_s"> -- <input type="text" name="regdate_e">
				</div>
			</div>
			<a href="javascript:;" class="submit" id="search_submit">查询</a>
		</form>
	</div>
	<div id="result">
		<div class="nodata">
			<small>暂时还没数据~</small>
		</div>
	</div>
	<div class="page" id="ajaxpage"></div>
</div>

<include file='Public:footer' />
<script type="text/javascript">

$(function(){
	index.load();
});
	
var index = {
	chg : function(){
		$('.inputbox .searchtype').on('change',function(){
			var that = $(this);
			if(that.val() == 1){
				that.parent().find('.goodstype').show();
			}else{
				that.parent().find('.goodstype').hide();
			}
		});
	},
	click : function(){

		// 删除一行
		$('body').on('click','.smbox .iconfont',function(){
			$(this).parent().parent().remove();
		});

		// 添加管理的时候
		$('body').on('click','input[type="checkbox"]',function(){
			if($(this).is(':checked')){
				layer.msg('添加成功');
			}else{
				layer.msg('取消成功');
			}
		});

		// 搜索的时候，假数据
		$('body').on('click','.search .submit',function(){
			var html =  '';
			$('#result').html(html);
		});

		// 
		$('body').on('click','#search_submit',function(){
			index.loaddata(1);
		});

		// 翻页
		$('body').on('click','#ajaxpage a',function(){
			var pagenum = $(this).attr('page-id');
			if(pagenum != ''){
				index.loaddata(pagenum);
			}
		});

		// 阅读某个商标的详细信息
		$('body').on('click','#readmore',function(){
			var that = $(this);
			layer.open({
				type: 2,
				title: '【'+that.attr('data-tmname')+'】_商标详情',
				shadeClose: true,
				shade: 0.8,
				area: ['850px', '90%'],
				content: '__MODULE__/ConnectIndustry/readmore/regno/'+that.attr('data-regno')+'/intcls/'+that.attr('data-intcls')+'/type/0' //iframe的url
			}); 
		});
	},
	loaddata : function(page){
		$('#result').html('<div class="loading"><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading" width="15"></div>');
		var url = $('#MTsearch input[name="types"]:checked').val();
		$.post(url+'/p/'+page,$('#MTsearch').serialize(),function(data){
			console.log(data);
			if(data.state == 200){
				var html = '<table class="smbox" cellspacing="0" cellpadding="0"><thead><tr style="background: #eef4f6"><th>注册号/申请号</th><th>商标名称</th><th>国际分类</th><th>注册日期</th><th>截止日期</th><th>状态</th><th>详细信息</th></tr></thead><tbody>';
				$(data.data.data).each(function(k,v){
					html += '<tr><td>'+v.tmcode+'</td><td>'+v.tmname+'</td><td>'+v.intcls+'</td><td>'+v.regdate+'</td><td>'+v.enddate+'</td><td>'+v.tmlaw+'</td><td><a href="javascript:;" id="readmore" data-regno="'+v.regno+'" data-intcls="'+v.intcls+'" data-tmname="'+v.tmname+'" data-tmcode="'+v.tmcode+'">查看</a></td></tr>';
				});
				html += '</tbody></table>';
				$('#result').html(html);
				$('.smbox tr:even').css('background','#eef4f6');
				$('#ajaxpage').html(data.data.page);
			}
		});
	},
	load : function(){
		this.chg();

		this.click();
	}
}

</script>
</body>
</html>