<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <include file='Public/meta' />
</head>

<body class="trademarkClassification connectIndustry">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:void(0);">首页</a></li>
            <li><a href="__MODULE__/ConnectIndustry/show">商标细分类</a></li>
        </ul>
    </div>
    <div class="chgConnect">
        <a href="__MODULE__/TrademarkClassification/show">分类列表</a>
        <a class="active" href="javascript:;">行业关联</a>
        <a class="addOne" href="__CONTROLLER__/add">添加关联分类</a>
    </div>
    <div class="rightinfo">
        <div class="tools clearfix" id="connectIndustry">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>行业</th>
                        <th>行业分类</th>
                        <th>所有商品项</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="data.data" item="val">
                    <tr>
                        <td width="16%">{$val.title}</td>
                        <td width="28%">{$val.child}<a href="__CONTROLLER__/add/pid/{$val.id}" class="add">添加</a></td>
                        <!-- <td width="56%"><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" height="15" /></td> -->
                        <td width="56%" data-id="{$val.id}" id="item{$val.id}">
                            <script type="text/javascript">$(function(){getConnectVal({$val.id})});</script>
                            
                            
                        </td>
                    </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript">

function getConnectVal(id){
    $.get('__CONTROLLER__/getConnectVal/id/'+id,function(data){
        console.log(data);
        if(data.state == 200){
            var html = '';
            $(data.data).each(function(k,v){
                html += '<div class="industryBlock"><div class="industryName"><a class="r" href="__CONTROLLER__/update/id/'+v.id+'">编辑</a><span>'+v.title+'</span></div><div class="industryList">';
                    if(v.connect_val != null){
                        $(v.connect_val).each(function(k1,v1){
                            html += '<div class="industryListInset"><div class="titBig">第'+v1.topcid.cid+'类<span>'+v1.topcid.title+'</span></div><div class="industryMain">';
                            $(v1.childid).each(function(k2,v2){
                                html += '<span><i>'+v2.cid+'</i><font>'+v2.title+'</font></span>';
                            });
                            html += '</div></div>';
                        });
                    }
                html += '</div></div>';
            });
            $('#item'+id).html(html);
        }else{

        }
    });
}

</script>
</html>