<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>属性管理</title>
    <include file='Public/meta' />
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul clearfix">
            <li><a href="javascript:void(0);">首页</a></li>
            <li><a href="javascript:void(0);">国家管理</a></li>
            <li><a href="javascript:void(0);">国家列表</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li class="click" onclick="window.location.href='__CONTROLLER__/add'"><a href="javascript:;"><span><img src="__PUBLIC__/admin/img/t01.png" /></span>添加国家</a></li>
                <!-- <li class="click"><span><img src="__PUBLIC__/admin/img/t02.png" /></span>修改</li>
                <li><span><img src="__PUBLIC__/admin/img/t03.png" /></span>删除</li> -->
                <!-- <li><span><img src="__PUBLIC__/admin/img/t04.png" /></span>统计</li> -->
            </ul>
            <!-- <ul class="toolbar1">
                <li><span><img src="__PUBLIC__/admin/img/t05.png" /></span>设置</li>
            </ul> -->
        </div>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>所属洲有值</th>
                    <th>是否马德里</th>
                    <th>是否单独国家</th>
                    <th>是否欧盟</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="data.data" item="v">
                <tr>
                    <td>{$v.title}</td>
                    <td>{$v.continent}</td>
                    <td class="madeli" data-is_madeli="{$v.is_madeli}"></td>
                    <td class="danduguojia" data-is_danduguojia="{$v.is_danduguojia}"></td>
                    <td class="oumeng" data-is_oumeng="{$v.is_oumeng}"></td>
                    <td>
                        <a href="">{$v.state}</a>
                        <a href="__CONTROLLER__/update/id/{$v.id}" class="tablelink">修改</a>
                        <a href="__CONTROLLER__/del/id/{$v.id}" class="tablelink"> 删除</a></td>
                </tr>
                </foreach>
            </tbody>
        </table>
        <div class="pagin">
            <div class="message">共<i class="blue">{$data.total}</i>条记录</div>
            <ul class="paginList">
                {$data.page}
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>

</html>