<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>单独国家注册</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="/dist/home/css/global.css">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="/dist/home/css/index.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_lws9ecwsdsll3di.css">
    <!-- 有字库 -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/95051/45873/5a5e2b67f629d8171c551265.css' rel='stylesheet' type='text/css' />
    <!-- 有字库 end -->
    <!-- jquery-cookie -->
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- jquery-cookie end -->
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
</head>
<body class="interReg">


<div class="wid1200">
	<div class="header clearfix">
		<div class="logo l"><a href="/" title="百一知识产权">LOGO</a></div>
		<div class="quick-nav">
			<a href="/" title="首页">首页</a>
			<a href="/" title="首页">首页</a>
			<a href="/" title="首页">首页</a>
			<a href="/" title="首页">首页</a>
		</div>
		<div class="phone r">
			<i class="iconfont icon-dianhua"></i>
			<div class="text">客服热线<br />400-000-1234</div>
		</div>
	</div>

	<div class="tit danduguojia">
		<h3>国际注册<br />单独国家注册</h3>
	</div>

	<div class="countryBox clearfix">
		<div class="countryList l">

			<div class="list">
				<div class="continent" id="continentListTit">
					<span class="cur">亚洲</span>
					<span>欧洲</span>
					<span>非洲</span>
					<span>美洲</span>
					<span>大洋洲</span>
				</div>
				<div class="continentList" id="continentList">
					<div class="continentInner cur">
						<div class="az">
							<span data-az="a">A</span>
							<span data-az="b">B</span>
							<span data-az="c">C</span>
							<span data-az="d">D</span>
							<span data-az="e">E</span>
						</div>
						<div class="countryList">
							<div class="listInner clearfix">
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="1" data-firstletter="a"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="2" data-firstletter="b"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="3" data-firstletter="c"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="4" data-firstletter="d"> 阿萨克斯坦</label></div>
							</div>
						</div>
					</div>
					<div class="continentInner">
						<div class="az">
							<span data-az="a">A</span>
							<span data-az="b">B</span>
							<span data-az="c">C</span>
							<span data-az="d">D</span>
							<span data-az="f">F</span>
						</div>
						<div class="countryList">
							<div class="listInner clearfix">
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="1" data-firstletter="a"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="2" data-firstletter="b"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="3" data-firstletter="c"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="4" data-firstletter="d"> 阿萨克斯坦</label></div>
							</div>
						</div>
					</div>
					<div class="continentInner">
						<div class="az">
							<span data-az="a">A</span>
							<span data-az="b">B</span>
							<span data-az="c">C</span>
							<span data-az="d">D</span>
							<span data-az="g">G</span>
						</div>
						<div class="countryList">
							<div class="listInner clearfix">
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="1" data-firstletter="a"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="2" data-firstletter="b"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="3" data-firstletter="c"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="4" data-firstletter="d"> 阿萨克斯坦</label></div>
							</div>
						</div>
					</div>
					<div class="continentInner">
						<div class="az">
							<span data-az="a">A</span>
							<span data-az="b">B</span>
							<span data-az="c">C</span>
							<span data-az="d">D</span>
						</div>
						<div class="countryList">
							<div class="listInner clearfix">
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="1" data-firstletter="a"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="2" data-firstletter="b"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="3" data-firstletter="c"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="4" data-firstletter="d"> 阿萨克斯坦</label></div>
							</div>
						</div>
					</div>
					<div class="continentInner">
						<div class="az">
							<span data-az="a">A</span>
							<span data-az="b">B</span>
							<span data-az="c">C</span>
							<span data-az="d">D</span>
						</div>
						<div class="countryList">
							<div class="listInner clearfix">
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="1" data-firstletter="a"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="2" data-firstletter="b"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="3" data-firstletter="c"> 阿萨克斯坦</label></div>
								<div class="labelbox"><label><input type="checkbox" name="country" data-id="4" data-firstletter="d"> 阿萨克斯坦</label></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="result r">
			<div class="tit"><span>选择列表</span></div>
			<div class="totalnum">
				<p class="countryNums">已选国家（<font color="#ff6812">6</font>）个</p>
				<p class="goodsTypeNums">已选类别（<font color="#ff6812">6</font>）个</p>
			</div>
			<div class="selectCountry clearfix">
				<span class="list l">中国<i class="iconfont icon-shanchu4"></i></span>
				<span class="list l">中国<i class="iconfont icon-shanchu4"></i></span>
				<span class="list l">中国<i class="iconfont icon-shanchu4"></i></span>
				<span class="list l">中国<i class="iconfont icon-shanchu4"></i></span>
				<span class="list l">中国<i class="iconfont icon-shanchu4"></i></span>
				<span class="list l">中国<i class="iconfont icon-shanchu4"></i></span>
			</div>
			<div class="selectType" id="selectType"><span>选择类别</span></div>
			<div class="typeList" id="typeList">
				<div class="typeListInner">
					<font color="#ff6812">已选：</font>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
					<span data-cid="" data-name="" data-id="">01 石油<i class="iconfont icon-shanchu4"></i></span>
				</div>
			</div>
			<div class="applyType">
				<div class="type" data-id="1">彩色申请<i class="iconfont icon-circle"></i></div>
				<div class="type cur" data-id="2">黑白申请<i class="iconfont icon-circle"></i></div>
			</div>
		</div>
	</div>
</div>





<script type="text/javascript">

$(function(){
	index.load();
});

var index = {

	focusCountry : function(){
		$('body').on('mouseover','.az span',function(){
			var that = $(this);
			$('.az span').removeClass('cur');
			that.addClass('cur');
			var az = that.attr('data-az');
			var countryList = that.parent().parent().find('.countryList .listInner .labelbox');
			countryList.removeClass('bgff6812');
			countryList.each(function(k,v){
				var thats = $(this);
				if(thats.find('input').attr('data-firstletter') == az){
					thats.addClass('bgff6812');
				}
			});
		});
	},

	selectContinent : function(){
		$('body').on('click','#continentListTit span',function(){
			var that = $(this);
			$('#continentListTit span').removeClass('cur');
			that.addClass('cur');
			$('#continentList .continentInner').removeClass('cur');
			$('#continentList .continentInner').eq(that.index()).addClass('cur');
		});
	},

	load : function(){

		// 选中大写字母后给对应开头为该字母的国家标色
		this.focusCountry();

		// 选择大洲
		this.selectContinent();

	}
}

</script>
</body>
</html>