<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$web_name}</title>
    <include file='Public/meta' />
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span onclick="window.location.href='__MODULE__/Member/reg'">注册</span>
			<!-- <ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul> -->
		</div>
		<div onclick="window.location.href='__MODULE__/Member/login'" class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide">
				<foreach name="layoutdata.menu" key="k" item="v">
					<div class="out">
						<div class="tit"><a href="{$v.url}">{$v.title}</a></div>
						<div class="sometit clearfix">
							<foreach name="v.goods_limit" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
						<?php if($k == 0){
							$top = '-1px';
						} elseif($k == 1){
							$top = '-86px';
						} elseif($k == 2){
							$top = '-171px';
						} elseif($k == 3){
							$top = '-238px';
						} elseif($k == 4){
							$top = '-341px';
						}
						?>
						<div class="hidecate clearfix" style="top:{$top};">
							<foreach name="v.goods" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
					</div>
				</foreach>
			</div>
		</div>
		<div class="quick-link r">
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">申请系统</a>
			<a href="javascript:void(0);">方案系统</a>
			<a href="javascript:void(0);">商标在线管理</a>
			<a href="__MODULE__/ExpertsWenda/index" target="_blank">专家库</a>
		</div>
	</div>
</div>

<div class="uploinfo">
	<div class="bg1"><img src="__PUBLIC__/home/img/infobg1.jpg"></div>
	<div class="infoTop">
		<div class="list clearfix">
			<div class="tit l">商标名称：</div>
			<div class="vals l"><input type="text" name="goods_name" value="{$goods_name}" placeholder="商标名称"></div>
		</div>
		<div class="list clearfix">
			<div class="tit l">商标图样：</div>
			<div class="vals l clearfix">
				<div class="color yes l mar_r_20">
					<img src="__CONTROLLER__/tubeimg/str/{$goods_name}" id="reviewimg" height="100" />
					<p class="replace"><small><i class="iconfont icon-icon--"></i>替换图样</small><input type="file" name="uploadself"></p>
					<p><small>100K--200k</small></p>	
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wid1200" style="border-top:1px solid #ddd;"></div>

<div class="uploinfo">
	<div class="bg1"><img src="__PUBLIC__/home/img/infobg2.jpg"></div>
	<div class="infoTop">
		<div class="list clearfix">
			<div class="tit l">申请人类型：</div>
			<div class="vals l">
				<span class="selectType cur" data-type="1">企业<i class="iconfont icon-duigou"></i></span>
				<span class="selectType" data-type="2">个人<i class="iconfont icon-duigou"></i></span>
			</div>
		</div>
		<div class="persontype">
			<div class="cpn typelist">
				<div class="list clearfix">
					<div class="tit l">公司名称：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">公司地址：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">申请联系人：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">联系电话：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">电子邮箱：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">上传申请材料：</div>
					<div class="vals l clearfix">
						<div class="outbox l">
							<div class="color no l">
								<i class="iconfont iconfont2 icon-icon--"></i>
								<input type="file" name="zhizhao">
								<p><small>营业执照副本复印件</small></p>
								<p><small>（需签字）</small></p>	
								<img class="botreview" src="" id="zhizhaoimg">
							</div>
							<a class="readex" href="">查看范本</a>
						</div>
						<div class="outbox l mar_r_20">
							<div class="color yes l">
								<i class="iconfont iconfont2 icon-icon--"></i>
								<input type="file" name="dailishu1">
								<p><small>商标代理委托书</small></p>
								<p><small>（需签字）</small></p>	
								<img class="botreview" src="" id="dailishu1img">
							</div>
							<a class="readex" href="">查看范本</a>
						</div>
					</div>
				</div>
			</div>
			<div class="person typelist" style="display: none">
				<div class="list clearfix">
					<div class="tit l">个人姓名：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">个体执照地址：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">申请联系人：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">联系电话：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">电子邮箱：</div>
					<div class="vals l"><input type="text" name="" placeholder=""></div>
				</div>
				<div class="list clearfix">
					<div class="tit l">上传申请材料：</div>
					<div class="vals l clearfix">
						<div class="outbox l">
							<div class="color no l">
								<i class="iconfont iconfont2 icon-icon--"></i>
								<input type="file" name="idcard">
								<p><small>身份证正反面复印件</small></p>
								<p><small>（需签字）</small></p>	
								<img class="botreview" src="" id="idcardimg">
							</div>
							<a class="readex" href="">查看范本</a>
						</div>
						<div class="outbox l mar_r_20">
							<div class="color no l">
								<i class="iconfont iconfont2 icon-icon--"></i>
								<input type="file" name="getihu">
								<p><small>个体工商户执照复印件</small></p>
								<p><small>（需签字）</small></p>	
								<img class="botreview" src="" id="getihuimg">
							</div>
							<a class="readex" href="">查看范本</a>
						</div>
					</div>
				</div>
				<div class="list clearfix">
					<div class="tit l"><br /></div>
					<div class="vals l clearfix">
						<div class="outbox l mar_r_20">
							<div class="color yes l">
								<i class="iconfont iconfont2 icon-icon--"></i>
								<input type="file" name="dailishu2">
								<p><small>商标代理委托书</small></p>
								<p><small>（需签字）</small></p>	
								<img class="botreview" src="" id="dailishu2img">
							</div>
							<a class="readex" href="">查看范本</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="next">
		<a href="">上一步</a>
		<a href="__MODULE__/ConnectIndustry/uploadinfosucc">下一步</a>
	</div>	
</div>

<include file='Public:footer' />

<script type="text/javascript">

$(function(){
	index.load();
});

var index = {
	click : function(){
		$('body').on('click','.vals .selectType',function(){
			var that = $(this);
			$('.vals .selectType').removeClass('cur');
			that.addClass('cur');
			$('.persontype .typelist').hide();
			$('.persontype .typelist').eq(that.index()).show();
		});
	},
	load : function(){
		this.click();
	}
}

$('input[name="uploadself"]').on('change',function(){
    var objUrl = '';
    objUrl = getObjectURL(this.files[0]);
    $('#reviewimg').attr("src",objUrl);
});

reviewimg('zhizhao');
reviewimg('dailishu1');
reviewimg('getihu');
reviewimg('idcard');
reviewimg('dailishu2');

function reviewimg(inputname){
	$('input[name="'+inputname+'"]').on('change',function(){
	    var objUrl = '';
	    objUrl = getObjectURL(this.files[0]);
	    $('#'+inputname+'img').attr("src",objUrl).show();
	});
}

//建立一個可存取到該file的url
function getObjectURL(file) {
    var url = null; 
    if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file);
    } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file);
    } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file);
    }
    return url;
}

</script>

</body>
</html>