<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$web_name}</title>
	<include file="Public:meta" />
    <!-- css字体  -->
    <link href='//cdn.webfont.youziku.com/webfonts/nomal/95051/19382/5abfa052f629d90fa8a8ebee.css' rel='stylesheet' type='text/css' />
</head>
<body>

<include file='Public:home_layout' />

<div class="banner text-c">
	<ul>
		<li style="background:url('__PUBLIC__/home/img/banner1.png') center 106px no-repeat;">
			<div class="quick-links">
				<span>知识产权<br /><small>在线申请</small></span>
				<a href="#shangbiao" class="shangbiao">商标</a>
				<a href="#zhuanli" class="zhuanli">专利</a>
				<a href="#banquan" class="banquan">版权</a>
			</div>
		</li>
	</ul>
</div>

<div class="full bgcolor_3baaf2">
	<div class="middle-quick wid1200 clearfix">
		<a href="__MODULE__/ConnectIndustry/aiplan" target="_blank" title="商标检索">
			<div class="boxs l" style="background:url('__PUBLIC__/home/img/bx1.jpg') center center no-repeat;">
				<p><span class="underline">商标检索</span></p>
				<p>智能方案</p>
			</div>
		</a>
		<a href="__MODULE__/OnlineManage/ing" target="_blank" title="知识产权在线管理">
			<div class="boxs l" style="background:url('__PUBLIC__/home/img/quicklink2.jpg') 40px center no-repeat #fff;">
				<p><span class="underline">知识产权</span></p>
				<p>在线管理</p>
			</div>
		</a>
		<a href="__MODULE__/ExpertsWenda/index" target="_blank" title="">
			<div class="boxs l" style="background:url('__PUBLIC__/home/img/quicklink3.jpg') 40px center no-repeat #fff;">
				<p><span class="underline">知识产权</span></p>
				<p>专家顾问</p>
			</div>
		</a>
	</div>
</div>

<div class="full" id="shangbiao">
	<div class="wid1200">
		<div class="china trademark_online">
			<div class="big-title text-c">
				<h4>国内商标在线申请</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
			<div class="search-box">
				<div class="search-inner clearfix">
					<form id="search-box" for="" action="__MODULE__/ConnectIndustry/ipresult" method="get">
						<input type="text" name="cxkey" class="search-input l" placeholder="输入商标名称" />
						<div class="search-select l">
							<select name="cxtype">
								<option value="2">商标名称</option>
								<option value="1">注册号</option>
								<option value="3">申请人</option>
							</select>
						</div>
						<a href="javascript:$('#search-box').submit();" class="search-submit l">商标查询</a>
					</form>
				</div>
			</div>
			<div class="product_list clearfix mar_top_50">
				<div class="top-list clearfix">
					<a href="/ConnectIndustry/aiplan" title="">
						<div class="list-inner">
							<div class="img-out-box"><img src="__PUBLIC__/home/img/eg1.jpg"></div>
						</div>
					</a>
					<div class="list-inner mid">
						<div class="img-out-box"><img src="__PUBLIC__/home/img/eg4.jpg"></div>
					</div>
					<div class="list-inner mid">
						<div class="img-out-box"><img src="__PUBLIC__/home/img/eg42.jpg"></div>
					</div>
				</div>
				<div class="bot-list clearfix">
					<foreach name="data.DomesticTrademark" item="v">
					<div class="sm list-inner text-c">
						<div class="info-product">
							<a href="{$v.url}" title="立即申请">
							<div class="pic"><!-- <img src="{$v.goods_thumb}" /> -->
								<i class="iconfont {$v.iconfont}"></i>
							</div>
							<h5 class="tit">{$v.goods_name}</h5>
							<span class="price">{$v.goods_default_price}元</span>
							<div class="info text-c">
								<div class="desc-short">
									<span>{$v.goods_tips_home}</span>
								</div>
								<div class="gotoaplay">
									<span>立即申请</span>
								</div>
							</div>
							</a>
						</div>
						<!-- <i class="iconfont icon-xiasanjiao"></i> -->
					</div>
					</foreach>
				</div>
			</div>
			<div class="more text-c">
				<a href="/Category/index/id/1.html"><i class="iconfont icon-combinedshape"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="full" style="background:#141e20;">
	<div class="wid1200 home-ads1" style="background:url('__PUBLIC__/home/img/bannerbg.jpg') center center no-repeat;">
		<a href="javascript:void(0);">
			<h3 class="css1121b38a631734b">国际商标注册预算</h3>
			<span>选择国家</span>	<span>快速预算</span>	
		</a>
	</div>
</div>

<div class="full">
	<div class="wid1200">
		<div class="country_trademark text-c">
			<div class="big-title text-c">
				<h4>国际商标注册</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
			<div class="country_inner clearfix">
				<div class="list">
					<a href="__MODULE__/InternationalReg/danduguojia" title="单独国家注册">
						<img src="__PUBLIC__/home/img/danduguojia_home.png">
						<span class="tit">单独国家注册</span>
					</a>
				</div>
				<div class="list">
					<a href="__MODULE__/InternationalReg/madeli" title="马德里注册">
						<img src="__PUBLIC__/home/img/madeli_home.png">
						<span class="tit">马德里注册</span>
					</a>
				</div>
				<div class="list">
					<a href="__MODULE__/InternationalReg/oumeng" title="欧盟注册">
						<img src="__PUBLIC__/home/img/oumeng_home.png">
						<span class="tit">欧盟注册</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="full bgcolor_3baaf2" id="zhuanli">
	<div class="wid1200">
		<div class="patent_online text-c">
			<div class="big-title">
				<h4>专利在线申请</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
			<div class="parent-list clearfix">
				<foreach name="data.Patent" item="v">
					<div class="sm list-inner text-c">
						<div class="info-product">
							<a href="{$v.url}" title="{$v.goods_name}">
								<div class="pic">
									<i class="iconfont {$v.iconfont}"></i>
								</div>
								<h5 class="tit">{$v.goods_name}</h5>
								<span class="price">{$v.goods_default_price}元</span>
							</a>
						</div>
					</div>
				</foreach>
				<div class="sm list-inner text-c">
					<div class="info-product">
						<a href="/Goods/detail/id/41.html" title="专利转让">
							<div class="pic">
								<i class="iconfont icon-guojizhuanli"></i>
							</div>
							<h5 class="tit">专利国际申请</h5>
							<span class="price">0.00元</span>
						</a>
					</div>
				</div>
				<!-- <foreach name="data.Patent" item="v">
				<a href="{$v.url}" title="{$v.goods_name}" target="_blank">
					<div class="list-inner">
						<h6 class="tit">{$v.goods_name}</h6>
						<span class="price">{$v.goods_default_price}元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				</foreach> -->
			</div>
			<div class="more text-c">
				<a href="/Category/index/id/4.html"><i class="iconfont icon-combinedshape"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="full" id="banquan">
	<div class="wid1200">
		<div class="copyright_online text-c">
			<div class="big-title">
				<h4>版权在线申请</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
			<div class="parent-list clearfix">
				<a href="javascript:void(0);" title="" target="_blank">
					<div class="list-inner big">
						<img src="./dist/home/img/eg5.jpg">
					</div>
				</a>
				<foreach name="data.Copyright" item="v">
				<a href="{$v.url}" title="{$v.goods_name}" target="_blank">
					<div class="list-inner">
						<div class="pic">
							<i class="iconfont {$v.iconfont}"></i>
						</div>
						<h6 class="tit">{$v.goods_name}</h6>
						<span class="price">{$v.goods_default_price}元</span>
					</div>
				</a>
				</foreach>
			</div>
			<div class="more text-c">
				<a href="/Category/index/id/3.html"><i class="iconfont icon-combinedshape"></i></a>
			</div>
		</div>
	</div>
</div>

<include file='Public:footer' />

</body>
</html>