<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css">
    <link rel="stylesheet" type="text/css" href="//res.layui.com/layui/dist/css/layui.css?t=1512706101045">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_i9dc7cn28dkotj4i.css">
</head>
<body class="member-index">

<div class="full bgcolor_3baaf2">
	<div class="pub-header wid1200 clearfix">
		<div class="logo-header clearfix">
			<div class="logo l">
				<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="首页"></a>
			</div>
			<div class="quick-link l">
				<a href="/" title="首页">首页</a>
				<foreach name='web_nav' item='v'>
					<a href="{$v.url}" target="_blank" title="{$v.title}">{$v.title}</a>
				</foreach>
			</div>
		</div>
	</div>
</div>

<div class="member-index guanwen wid1200 clearfix">
	<div class="search text-r">
        <div class="dis_inline">
			<form action="" method="get" id="search-form">
	        	<div class="input-search l">
	                <input type="text" class="input-text" placeholder="请输入合同号/订单号">
	            </div>
	            <div class="submit l">
	                <a href="javascript:;" id="search-submit"><i class="iconfont icon-sousuo"></i></a>
	            </div>
        	</form>
        </div>
	</div>
	<style type="text/css">
		.fapiaobox .mainbox .control{
			margin: 10px 0;
		}
		.fapiaobox .mainbox .control .smtit{
			float: left;
			text-align-last: justify;
			width: 90px;
		}
		.fapiaobox .mainbox .control .right{
			float: left;
		}
		.fapiaobox .mainbox .control .right .input-text{
			width: 260px;

		}
	</style>
	<div class="main-inner clearfix fapiao">
		<include file='Public/memLeftMenu' />
		<div class="main r">
			<h4>发票申领</h4>
			<br>
			<hr>
			<div class="fapiaobox">
				<br>
				<div class="type clearfix">
					<div class="inputbox l"><input style="" type="radio" name="tmname">增值税普通发票</div>
					<div class="inputbox l"><input style="" type="radio" name="tmname">增值税专用发票</div>
				</div>
				<div class="mainbox">
					<div class="control clearfix">
						<div class="smtit">发票类型：</div>
						<div class="right">
							<label>
								<input type="radio">个人
							</label>
							<label>
								<input type="radio">企业
							</label>
						</div>
					</div>
					<div class="control clearfix">
						<div class="smtit">发票抬头：</div>
						<div class="right">
							<input type="" class="input-text" name="">
						</div>
					</div>
					<div class="control clearfix">
						<div class="smtit">发票内容：</div>
						<div class="right">
							<input type="" class="input-text" name="" value="知识产权服务" disabled="disabled">
						</div>
					</div>
					<div class="control clearfix">
						<div class="smtit">邮寄地址：</div>
						<div class="right">
							<input type="" class="input-text" name="">
						</div>
					</div>
					<div class="control clearfix">
						<div class="smtit">详细地址：</div>
						<div class="right">
							<input type="" class="input-text" name="">
						</div>
					</div>
					<div class="control clearfix">
						<div class="smtit">收件人信息：</div>
						<div class="right">
							<input type="" class="input-text" style="width: 120px;margin-right: 10px;" name="" placeholder="姓名">
							<input type="" class="input-text" style="width: 120px;" name="" placeholder="电话">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.fapiao .main h4{
		text-align: center;
		line-height: 40px;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	.fapiao .main .fapiaobox{
		width: 500px;
		margin: 0 auto;
	}
</style>
<script type="text/javascript">
	
$('body').on('click','#express',function(){
	//iframe层-父子操作
	layer.open({
	  type: 2,
	  title: false,
	  area: ['500px', '280px'],
	  fixed: false, //不固定
	  maxmin: true,
	  content: 'address-add.html'
	});
});

</script>

</body>
</html>