<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$name}百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/detail.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_9yxm5gf37m0zr529.css">
    <!-- layer -->
	<link href="https://cdn.bootcss.com/layer/3.0.3/skin/default/layer.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="logstate r clearfix" id="logstate">
			<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" height="15" style="padding-left: 20px;">
		</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
</div>

<div class="wid1200 forget">
	<h2>找回密码</h2>
	<div class="main">
		<div class="smtit clearfix">
			<li class="cur"><span>1</span>填写账户名</li>
			<li><span>2</span>验证身份</li>
			<li><span>3</span>重置新密码</li>
			<li><span>4</span>完成</li>
		</div>
		<div class="inputbox">
			<div class="box clearfix">
				<div class="tit">用户名：</div>
				<div class="input-text">
					<input type="text" name="">
				</div>
			</div>
			<div class="box clearfix">
				<div class="tit">验证码：</div>
				<div class="input-text">
					<input type="text" name="">
				</div>
			</div>
			<div class="box clearfix">
				<div class="tit"><br /></div>
				<div class="input-text">
					<img src="" alt="验证码"><small style="margin-left: 5px;"><a href="">看不清？换一张</a></small>
				</div>
			</div>
			<div class="box clearfix">
				<div class="tit"><br /></div>
				<div class="input-text">
					<a href="__CONTROLLER__/forget2" class="submit">下一步</a>
				</div>
			</div>
		</div>
	</div>
</div>

<include file='Public:footer' />
<script type="text/javascript">

</script>
</body>
</html>