<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_i9dc7cn28dkotj4i.css">
    <!-- layer -->
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
    <link href="https://cdn.bootcss.com/layer/3.0.3/skin/default/layer.min.css" rel="stylesheet">
    <!-- layer end -->
</head>
<body class="member-index">

<div class="full bgcolor_3baaf2">
	<div class="pub-header wid1200 clearfix">
		<div class="logo-header clearfix">
			<div class="logo l">
				<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
			</div>
			<div class="quick-link l">
				<a href="/" title="首页">首页</a>
				<foreach name='web_nav' item='v'>
					<a href="{$v.url}" target="_blank" title="{$v.title}">{$v.title}</a>
				</foreach>
			</div>
		</div>
	</div>
</div>

<div class="member-index wid1200 clearfix">
	<div class="search text-r">
        <div class="dis_inline">
			<form action="" method="get" id="search-form">
	        	<div class="input-search l">
	                <input type="text" class="input-text" placeholder="请输入合同号/订单号">
	            </div>
	            <div class="submit l">
	                <a href="javascript:;" id="search-submit"><i class="iconfont icon-sousuo"></i></a>
	            </div>
        	</form>
        </div>
	</div>
	<div class="main-inner clearfix" id="orderList">
		<include file='Public/memLeftMenu' />
		<div class="main r">

			<div class="main-list">
				<div class="tit big clearfix">
					<span class="l left">公司主体</span>
					<span class="l mid">联系人</span>
					<span class="l mid">专属顾问</span>
				</div>
				<div class="cpn-info">
					<span class="l left">公司名称</span>
					<span class="l mid"><?php echo session('nickname')?session('nickname'):session('phone'); ?></span>
					<span class="l mid"><i class="iconfont icon-kefu-copy"></i>专属顾问</span>
				</div>
				<div class="orderType clearfix">
					<a href="javascript:;" class="cur" data-state="0">全部订单</a>
					<a href="javascript:;" class="" data-state="201">待付款</a>
					<a href="javascript:;" class="" data-state="300">待处理</a>
					<a href="javascript:;" class="" data-state="104">已完成</a>
				</div>
				<div class="tit clearfix">
					<span class="l left">订单详情</span>
					<span class="l mid">金额</span>
					<span class="l mid">状态</span>
					<span class="l mid">操作</span>
				</div>
				<div class="order-box">
					<div class="loading">
						<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading">
					</div>
				</div>
				<div class="loadmore">
					<span data-page="2">获取更多</span>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div id="setNickName">
	<div class="inner">
		<input type="text" name="nickname_pc" value="">
		<a href="javascript:;" id="nickname_submit">确定</a>
	</div>
</div>
<style type="text/css">
	#setNickName{
		padding: 15px;
		width: 200px;
	}
	#setNickName .inner input{
		width: 193px;
	    padding: 5px 0 5px 5px;
	    border-radius: 2px;
	    border: 1px solid #ddd;
	}
	#setNickName .inner a{
		width: 100%;
	    display: block;
	    text-align: center;
	    line-height: 26px;
	    color: #fff;
	    background: #49a7e6;
	    margin-top: 10px;
	    border-radius: 2px;
	}
</style>
<include file='Public:footer' />

<script type="text/javascript">

$(function(){
	index.load();
});
	
var index = {

	getOrderList : function(page,state){
		$.get('__MODULE__/OrderDetail/getOrderList/page/'+page+'/state/'+state,function(data){
			console.log(data);
			if(data.state == 200){
				var html = '';
				$(data.data).each(function(k,v){
					html += '<div class="order-list-main clearfix"><div class="list-inners l left"><p>'+v.goods_name+'</p><span>订单编号：'+v.uniquenum+'</span><span>合同编号：'+v.contract_number+'</span><span>下单时间：'+v.addtime+'</span></div><div class="pay-moneys text-c l mid"><span>'+v.total_price+'元</span><span class="status"></span></div><div class="order-num text-c l mid"><span>'+v.state_name+'</span></div><div class="editor text-c l last">'+v.action+'</div></div>';
				});
				$('#orderList .order-box .loading').remove();
				if(page != 1){
					$('#orderList .order-box').append(html);
				}else{
					$('#orderList .order-box').html(html);
				}
				// 设置下一页
				page++;
				$('#orderList .loadmore').html('<span data-page="'+page+'">获取更多</span>');
			}else if(data.state == 199){
				layer.msg(data.msg);
				setTimeout(function(){
					window.location.href='__MODULE__/Member/login';
				},1000);
			}else{
				if(page == 1){
					$('#orderList .order-box').html('<div style="text-align:center;line-height:100px"><small>没查询到数据...</small></div>');
					$('#orderList .loadmore').html('');
				}else{
					$('#orderList .loadmore').html('<small>没数据了...</small>');
				}
			}
		});
	},

	getmore : function(){
		$('body').on('click','.loadmore span',function(){
			var that = $(this);
			that.parent().html('<div class="loading"><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading"></div>');
			index.getOrderList(that.attr('data-page'),that.attr('data-state'));
			var _page = that.attr('data-page')+1;
			that.parent().html('<span data-page="'+_page+'">获取更多</span>');
		});
	},

	showForState : function(){
		$('body').on('click','.orderType a',function(){
			var that = $(this);
			index.getOrderList(1,that.attr('data-state'));
		});
	},

	chkNickName : function(){
		$.get('__MODULE__/Member/getNickname',function(data){
			console.log(data);
			if(data.state == 200){
				layer.open({
					type: 1,
					skin: 'layui-layer-demo', //样式类名
					title:'先给自己起个昵称吧~',
					closeBtn: 0, //不显示关闭按钮
					anim: 2,
					shadeClose: true, //开启遮罩关闭
					content: $('#setNickName')
				});
				$('input[name="nickname_pc"]').focus();
			}
		});

		$('body').on('click','#nickname_submit',function(){
			$.post('__MODULE__/Member/chgnickname',{nickname:$('input[name="nickname_pc"]').val()},function(data){
				// console.log(data);
				layer.closeAll();
				layer.msg(data.msg);
				if(data.state == 200){
					setTimeout(function(){
						location.replace(location.href);
					},1000);
				}
			});
		});
	},

	load : function(){
		this.getOrderList(1,0);
		// 更多
		this.getmore();

		// 根据分类选择
		this.showForState();

		// 验证昵称
		this.chkNickName();
	}
}

</script>

</body>
</html>