<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span onclick="window.location.href='__MODULE__/Member/reg'">注册</span>
			<!-- <ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul> -->
		</div>
		<div onclick="window.location.href='__MODULE__/Member/login'" class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide">
				<foreach name="layoutdata.menu" key="k" item="v">
					<div class="out">
						<div class="tit"><a href="{$v.url}">{$v.title}</a></div>
						<div class="sometit clearfix">
							<foreach name="v.goods_limit" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
						<?php if($k == 0){
							$top = '-1px';
						} elseif($k == 1){
							$top = '-86px';
						} elseif($k == 2){
							$top = '-171px';
						} elseif($k == 3){
							$top = '-238px';
						} elseif($k == 4){
							$top = '-323px';
						}
						?>
						<div class="hidecate clearfix" style="top:{$top};">
							<foreach name="v.goods" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
					</div>
				</foreach>
			</div>
		</div>
		<div class="quick-link r">
			<a href="/" title="上海百一知识产权代理有限公司">首页</a>
			<a href="/Goods/detail/id/1.html" target="_blank">知识产权在线申请</a>
			<a href="javascript:void(0);">国际商标预算</a>
			<a href="__MODULE__/OnlineManage/ing">知识产权在线管理</a>
			<a href="__MODULE__/ExpertsWenda/index" target="_blank">知识产权专家顾问</a>
		</div>
	</div>
</div>