
						}
						?>
						<div class="hidecate clearfix" style="top:{$top};">
							<foreach name="v.goods" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
					</div>
				</foreach>
			</div>
		</div>
		<div class="quick-link r">
			<a href="/" title="上海百一知识产权代理有限公司">首页</a>
			<a href="/Goods/detail/id/1.html" target="_blank">知识产权在线申请</a>
			<a href="javascript:void(0);">国际商标预算</a>
			<a href="__MODULE__/OnlineManage/ing">知识产权在线管理</a>
			<a href="__MODULE__/ExpertsWenda/index" target="_blank">知识产权专家顾问</a>
		</div>
	</div>
</div>