<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="logstate r clearfix" id="logstate">
			<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" height="15" style="padding-left: 20px;">
		</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide">
				<foreach name="layoutdata.menu" key="k" item="v">
					<div class="out">
						<div class="tit"><a href="{$v.url}">{$v.title}</a></div>
						<div class="sometit clearfix">
							<?php if($k == 0){ ?>
							<a href="__MODULE__/ConnectIndustry/aiplan" target="_blank" title="商标自助申请">商标自助申请</a>
							<?php } ?>
							<foreach name="v.goods_limit" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
						<?php if($k == 0){
							$top = '-1px';
						} elseif($k == 1){
							$top = '-86px';
						} elseif($k == 2){
							$top = '-171px';
						} elseif($k == 3){
							$top = '-238px';
						} elseif($k == 4){
							$top = '-323px';
						}
						?>
						<div class="hidecate clearfix" style="top:{$top};">
							<foreach name="v.goods" item="v1" key="k1">
								<?php if($k == 0){ ?>
									<?php if($k1 == 0){ ?>
										<a href="__MODULE__/ConnectIndustry/aiplan" target="_blank" title="商标自助申请">商标自助申请</a>
									<?php } ?>
								<?php } ?>
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
					</div>
				</foreach>
			</div>
		</div>
		<div class="quick-link r">
			<a href="/" title="首页">首页</a>
			<foreach name='web_nav' item='v'>
				<a href="{$v.url}" target="_blank" title="{$v.title}">{$v.title}</a>
			</foreach>
		</div>
		<script type="text/javascript">
			
		</script>
	</div>
</div>