<div class="full bgcolor_687485 mar_top_40">
	<div class="wid1200">
		<div class="footer text-c">
			<div class="inner clearfix">
				<div class="l info">
					<p>地址：上海市徐汇区桂平路410号漕河泾国际孵化中心一楼</p>
					<p>电话：021-64878081</p>
					<p>传真：021-64878023</p>
					<p>邮箱：foridom@foridom.com</p>
				</div>
				<div class="r email">
					<p>订阅我们的资讯</p>
					<div class="emailbox">
						<input type="text" name="footermail" placeholder="Enter your email" class="entermail">
						<i class="iconfont icon-youxiang"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bgcolor_454d59 full">
	<span class="footerbottom">版权所有 2016百一知识产权 All Rights Reserved 沪ICP备06010536号</span>
</div>