<div class="full bgcolor_687485 mar_top_40">
	<div class="wid1200">
		<div class="footer text-c">
			<div class="inner clearfix">
				<div class="l info">
					<p>地址：上海市徐汇区桂平路410号漕河泾国际孵化中心一楼</p>
					<p>电话：021-64878081</p>
					<p>传真：021-64878023</p>
					<p>邮箱：foridom@foridom.com</p>
				</div>
				<div class="r email">
					<p>订阅我们的资讯</p>
					<div class="emailbox">
						<input type="text" name="footermail" placeholder="Enter your email" class="entermail">
						<i class="iconfont icon-youxiang"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(function(){
	public_home.load();
});

var public_home = {
	// 登录状态
	member_state : function(){
		$.get('__MODULE__/Member/ajacChkState',function(data){
			var html = '';
			if(data.state == 200){
				html = '<div class="r phone"><a href="__MODULE__/Member/index">个人中心</a></div>';
			}else{
				html = '<div class="r reg"><span onclick="public_home.pub_reg();">注册</span></div><div onclick="public_home.pub_login();" class="r login">登录</div>';
			}
			$('#logstate').html(html);
		});
	},
	pub_reg : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/reg' //iframe的url
		}); 
	},
	pub_login : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/login' //iframe的url
		}); 
	},
	load : function(){
		this.member_state();
	}
}

</script>

<div class="bgcolor_454d59 full">
	<span class="footerbottom">版权所有 2016百一知识产权 All Rights Reserved 沪ICP备06010536号</span>
</div>