<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$web_name}</title>
	<!-- 公共css -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
<!-- index -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_v7l7dcv6hudte29.css">
    <!-- css字体  -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/95051/19382/5abfa052f629d90fa8a8ebee.css' rel='stylesheet' type='text/css' />
    <script src="https://cdn.bootcss.com/layer/3.0.2/layer.min.js"></script>
    <link href="https://cdn.bootcss.com/layer/3.0.2/mobile/need/layer.min.css" rel="stylesheet">
</head>
<body class="onlinemanage">

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="logstate r clearfix" id="logstate">
			<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" height="15" style="padding-left: 20px;">
		</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="full headerbox">
	<div class="wid1200 header clearfix">
		<div class="logo l">
			<a href="/" title="{$web_name}"><img src="__PUBLIC__/home/img/logo.png" /></a>
		</div>
		<div class="navs">
			<foreach name='web_nav' item='v'>
				<a href="{$v.url}" target="_blank" title="{$v.title}">{$v.title}</a>
			</foreach>
		</div>
		<div class="phone r">
			<i class="iconfont icon-dianhua"></i>
			<div class="phones">
				<p>客服热线</p>
				<p>400-0000-000</p>
			</div>
		</div>
	</div>
</div>

<div class="bignavs">
	<a href="__MODULE__/OnlineManage/ing" title="我的代办">
		<div class="list">
			<div class="img">
				<img src="__PUBLIC__/home/img/daiban.png" />
				<img src="__PUBLIC__/home/img/daibancur.png" class="cur" />
			</div>
			<span>我的待办</span>
		</div>
	</a>
	<a href="__MODULE__/OnlineManage/shangbiaoadd" title="商标管理">
		<div class="list act">
			<div class="img">
				<img src="__PUBLIC__/home/img/shangbiao.png" />
				<img src="__PUBLIC__/home/img/shangbiaocur.png" class="cur" />
			</div>
			<span>商标管理</span>
		</div>
	</a>
	<a href="__MODULE__/OnlineManage/patent_case_search" title="专利案件查询">
		<div class="list">
			<div class="img">
				<img src="__PUBLIC__/home/img/zhuanli.png" />
				<!-- <img src="__PUBLIC__/home/img/zhuanlicur.png" class="cur" /> -->
			</div>
			<span>专利管理</span>
		</div>
	</a>
	<a href="" title="版权管理">
		<div class="list">
			<div class="img">
				<img src="__PUBLIC__/home/img/banquan.png" />
				<!-- <img src="__PUBLIC__/home/img/banquancur.png" class="cur" /> -->
			</div>
			<span>版权管理</span>
		</div>
	</a>
	<a href="" title="其他业务">
		<div class="list">
			<div class="img">
				<img src="__PUBLIC__/home/img/qita.png" />
				<!-- <img src="__PUBLIC__/home/img/qitacur.png" class="cur" /> -->
			</div>
			<span>其他业务</span>
		</div>
	</a>
</div>