<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <include file='Public/meta' />
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul clearfix">
            <li><a href="javascript:void(0);">首页</a></li>
            <li><a href="javascript:void(0);">国家管理</a></li>
            <li><a href="javascript:void(0);">国家列表</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle"><span>添加</span></div>
        <ul class="forminfo">
            <form action="__SELF__" method="post">
                <li>
                    <!-- <label>所属类别</label>
                    <select class="input-select" name="pid" style="width:120px;">
                        <option value="商标">商标</option>
                        <option value="专利">专利</option>
                        <option value="版权">版权</option>
                        <option value="其他">其他</option>
                    </select> -->
                </li>
                <li>
                    <label>pid</label>
                    <input name="pid" type="text" value="0" class="dfinput" required />
                </li>
                <li>
                    <label>问题</label>
                    <input name="title" type="text" class="dfinput" required />
                </li>
                <li>
                    <label>回答</label>
                    <input name="answer" type="text" class="dfinput" required />
                </li>
                <li>
                    <label>&nbsp;</label>
                    <input type="submit" class="btn-self" value="确认保存" />
                </li>
            </form>
        </ul>
    </div>
</body>

<script type="text/javascript">
    $('input[name="title"]').focus();
</script>

</html>