<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<include file="Public/meta" />
</head>
<body class="experts">

<div class="header">
	<div class="top">
		<div class="wid1200">
			<a href="javascript:;">内容</a>|<a href="javascript:;">内容</a>|<a href="javascript:;">内容</a>
		</div>
	</div>
	<div class="bot clearfix">
		<div class="wid1200">
			<div class="logo l">
				<a href="/" title="百一知识产权"><img src="__PUBLIC__/home/img/logo.png" alt="百一知识产权"></a>
			</div>
			<div class="search r clearfix">
				<div class="search-box r">
					<form>
						<input type="text" name="keywords">
						<a href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
					</form>
				</div>
				<div class="scrolltext r">
					滚动文字
				</div>
			</div>
		</div>
	</div>
	<div class="nav">
		<div class="wid1200">
			<a href="/" title="上海百一知识产权代理有限公司">首页</a> | 
			<foreach name='web_nav' item='v'>
				<a href="{$v.url}" target="_blank" title="{$v.title}">{$v.title}</a> | 
			</foreach>
		</div>
	</div>
</div>

<div class="banner index">
	<div class="wid1200">
		<a href="javascript:;"><img src="__PUBLIC__/home/img/zhuanjiaeg1.jpg"></a>
	</div>
</div>

<div class="wid1200 midInfo clearfix">
	<div class="navs l">
		<a href="__CONTROLLER__/show" class="smPic" style="background: url('__PUBLIC__/home/img/smpic1.jpg') left center no-repeat;">商标</a>
		<a href="__CONTROLLER__/show" class="smPic" style="background: url('__PUBLIC__/home/img/smpic2.jpg') left center no-repeat;">专利</a>
		<a href="__CONTROLLER__/show" class="smPic" style="background: url('__PUBLIC__/home/img/smpic3.jpg') left center no-repeat;">版权</a>
		<a href="__CONTROLLER__/show" class="bigPic" style="background: url('__PUBLIC__/home/img/smpic4.jpg') left center no-repeat;">其他</a>
	</div>
	<div class="scrollNews r clearfix">
		<div class="scroll l">
			<div class="tit">
				<h5>滚动新闻</h5>
			</div>
			<div class="newsList">
				<foreach name='data.news' item='v' key='k'>
					<div class="list clearfix"><span class="r">{$v.addtime}</span><a href="javascript:;" title="{$v.title}"><b>·</b>{$v.title}</a></div>
				</foreach>
			</div>
		</div>
		<div class="scrollBanner">
			<div id="myCarousel" class="carousel slide">
		        <div class="carousel-inner">
		            <div class="item active">
		                <img src="__PUBLIC__/home/img/ex1.jpg" alt="">
		                <div class="carousel-caption">
		                  <h4>金砖国家领导人厦门会晤新闻中心</h4>
		                </div>
		            </div>
		            <div class="item">
		                <img src="__PUBLIC__/home/img/ex2.jpg" alt="">
		                <div class="carousel-caption">
		                   <h4>欧盟或制定假冒市场观察名单</h4>
		                </div>
		            </div>
		            <div class="item">
		            	<img src="__PUBLIC__/home/img/ex3.jpg" alt="">
		                <div class="carousel-caption">
		                  <h4>中日知识产权工作第六次会议在北京召开</h4>
		                </div>
		            </div>
		      </div>
		        <a class="left" href="#myCarousel" data-slide="prev"><i class="iconfont icon-zuo"></i></a>
		        <a class="right" href="#myCarousel" data-slide="next"><i class="iconfont icon-xiangyou"></i></a>
		    </div>
		</div>
		<div class="exAnswer" style="background: url('__PUBLIC__/home/img/answersm.jpg') left center no-repeat #ebeef0;">
			<div class="list clearfix">
				<a href=""><b>·</b>授予专利权的条件有哪些</a>
				<a href=""><b>·</b>知识产权包含哪些内容？</a>
				<a href=""><b>·</b>哪些情形不能获得专利权?</a>
				<a href=""><b>·</b>知识产权包含哪些内容？</a>
				<a href="" class="bor_bot_no"><b>·</b>授予专利权的条件有哪些</a>
				<a href="" class="bor_bot_no"><b>·</b>哪些情形不能获得专利权?</a>
			</div>
		</div>
	</div>
</div>

<div class="expetInfos wid1200">
	<h4>专家观点</h4>
	<div class="expertList">
		<foreach name='data.zhuanjia' item='v' key='k'>
		<div class="list clearfix">
			<div class="name l clearfix">
				<div class="face l"><img src="__PUBLIC__/home/img/face<?php echo $k+1; ?>.png"></div>
				<div class="names l">
					<p>{$v.title}</p>
				</div>
			</div>
			<div class="info l">
				<div class="inner">{$v.answer}</div>
			</div>
		</div>
		</foreach>
	</div>
</div>

<!--div class="othernews wid1200 clearfix">
	<div class="list l">
		<div class="inner">
			<div class="tit">各方观点</div>
			<div class="newlist">
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
			</div>
		</div>
	</div>
	<div class="list l mid">
		<div class="inner">
			<div class="tit">法律法规</div>
			<div class="newlist">
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
			</div>
		</div>
	</div>
	<div class="list l last">
		<div class="inner">
			<div class="tit">知识产权案例</div>
			<div class="newlist">
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
				<div class="innerlist">我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目我是题目</div>
			</div>
		</div>
	</div>
</div-->

<div class="footer full">
	<div class="top"></div>
	<div class="bot"></div>
</div>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
$(function(){
	// scrollbanner
	$('.carousel').carousel()

	expertIndex.load();
});

var expertIndex = {
	load : function(){
	}
}

</script>
</body>
</html>