<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<include file="Public/meta" />
</head>
<body class="experts">

<div class="header">
	<div class="top">
		<div class="wid1200">
			<a href="javascript:;">内容</a>|<a href="javascript:;">内容</a>|<a href="javascript:;">内容</a>
		</div>
	</div>
	<div class="bot clearfix">
		<div class="wid1200">
			<div class="logo l">
				<a href="/"><img src="__PUBLIC__/home/img/logo.png" alt="logo"></a>
			</div>
			<div class="search r clearfix">
				<div class="search-box r">
					<form>
						<input type="text" name="keywords">
						<a href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
					</form>
				</div>
				<div class="scrolltext r">
					滚动文字
				</div>
			</div>
		</div>
	</div>
	<div class="nav">
		<div class="wid1200">
			<a href="/" title="上海百一知识产权代理有限公司">首页</a> | 
			<foreach name='web_nav' item='v'>
				<a href="{$v.url}" target="_blank" title="{$v.title}">{$v.title}</a> | 
			</foreach>
		</div>
	</div>
</div>

<div class="banner" style="background: #e2e2e2;">
	<div class="wid1200">
		<a href="javascript:;"><img src=""></a>
	</div>
</div>

<div class="wid1200">
	<div class="main clearfix" id="main">
		<div class="loading"><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" width="15"></div>
	</div>
</div>

<include file='Public:footer' />
<script type="text/javascript">
	
$(function(){
	expert.load();
});

var expert = {
	showhide : function(){
		$('body').on('click','.content .list',function(){
			var that = $(this);
			// $('.content .list').removeClass('on');
			if(that.hasClass('on')){
				that.removeClass('on');
			}else{
				that.addClass('on');
			}
		});
	},
	getAll : function(){
		$.get('__MODULE__/ExpertsWenda/ajaxGetAll',function(data){
			console.log(data);
			if(data.state == 200){
				var leftMenu = '';
				var rightMain = '';
				$(data.data).each(function(k,v){
					leftMenu += '<a href="javascript:;">'+v.title+'</a>';
					var first = '';
					if(k==0){
						first = 'shows';
					}else{
						first = '';
					}
					if(v.id==9){
						if(v.main){
							rightMain += '<div class="content article '+first+'"><h5 class="tit">'+v.title+'</h5><div class="answerbox"><div class="artlist clearfix">';
							$(v.main.data).each(function(k1,v1){
								rightMain += '<a href="'+v1.url+'" target="_blank" class="clearfix"><span class="r">'+v1.addtime+'</span>'+v1.title+'</a>';
							});
							rightMain += '</div></div>';
							rightMain += '<div class="page">'+v.main.page+'</div>';
							rightMain += '</div>';
						}else{
							rightMain += '<div class="content article"><h5 class="tit">'+v.title+'</h5><div class="nodata"><small>暂无数据</small></div></div>';
						}
					}else{
						if(v.main){
							rightMain += '<div class="content '+first+'"><h5 class="tit">'+v.title+'</h5><div class="answerbox">';
							$(v.main.data).each(function(k1,v1){
								rightMain += '<div class="list clearfix"><div class="problem"><div class="font">问</div><p>'+v1.title+'</p></div><div class="answer"><div class="font">答</div><p>'+v1.answer+'</p></div></div>';
							});
							rightMain += '</div></div>';
						}else{
							rightMain += '<div class="content"><h5 class="tit">'+v.title+'</h5><div class="nodata"><small>暂无数据</small></div></div>';
						}
					}
				});
				var html = '<div class="cate l" id="cate">'+leftMenu+'</div><div class="contentList r" id="contentList">'+rightMain+'</div>';
				// 左侧栏目+右侧内容
				$('#main').html(html);
			}
		});
	},
	chktab : function(){
		$('body').on('click','#cate a',function(){
			$('#contentList .content').removeClass('shows').eq($(this).index()).addClass('shows');
		});
	},
	load : function(){
		this.showhide();

		// 获取问答页面栏目及文章全部信息
		this.getAll();

		// 切换tab
		this.chktab();
	}
}

</script>
</body>
</html>