<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>商标智能方案</title>
	<include file='Public:meta' />
    <!-- 有字库 -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/95051/45873/5a5e2b67f629d8171c551265.css' rel='stylesheet' type='text/css' />
    <!-- 有字库 end -->
    <!-- jquery-cookie -->
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- jquery-cookie end -->
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
</head>
<body class="aiplan">

<div class="full">
	<div class="header-box">
		<div class="header clearfix">
			<div class="logo">
				<a href="/" title="首页"><img src="__PUBLIC__/home/img/logo.png" alt="logo"></a>
			</div>
			<div class="nav">
				<a href="/" title="首页">首页</a>
				<foreach name='web_nav' item='v'>
					<a class="" href="{$v.url}">{$v.title}</a>
				</foreach>
			</div>
			<div class="login-box" id="logstate">
				<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" height="15" style="padding-left: 20px;">
			</div>
		</div>
	</div>
	<div class="topbg"></div>
</div>

<div class="search-box">
	<div class="bigtit">
		<img src="__PUBLIC__/home/img/sbznfa.png">
		<!-- <span>商标智能方案</span> -->
	</div>
	<div class="ap-search">
		<!-- <div class="tabTit">
			<span class="active">商标智能方案</span>
			<span>商标查询</span>
		</div> -->
		<div class="tabMain">
			<div class="mainList clearfix">
				<form id="aiplan">
					<input type="hidden" name="type" value="">
					<input type="hidden" name="val" value="">
					<input type="text" class="input-text l" name="keywords" placeholder="输入商标名称" />
					<div class="ap-type l">
						<div class="tit">
							<span>请选择</span>
							<i class="iconfont icon-xiaosanjiao"></i>
						</div>
						<div class="list">
							<div class="listInner">
								<div class="listMain">
									<i class="iconfont icon-xiangshang"></i>
									<foreach name="type" item="v">
									<span data-id="{$v.id}">{$v.title}</span>
									</foreach>
								</div>
							</div>
						</div>
					</div>
					<div class="ap-val l">
						<div class="tit">
							<span>请选择</span>
							<i class="iconfont icon-xiaosanjiao"></i>
						</div>
						<div class="list">
							<div class="listInner">
								<div class="listMain">
									<i class="iconfont icon-xiangshang"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="ap-submit r" id="createNode">
						<a href="javascript:void(0);">生成商标方案</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<?php /*
<include file='Public:footer' />
*/ ?>

<script type="text/javascript">

$(function(){
	aiSearch.load();

	// 登录注册
	public_home.load();
});

var aiSearch = {

	click : function(){
		// 大行业选择
		$('body').on('click','#aiplan .ap-val .tit',function(){
			var that = $(this).parent();
			that.find('.list').addClass('active');
		});

		// 具体行业选择
		$('body').on('click','#aiplan .ap-type .tit',function(){
			var that = $(this).parent();
			that.find('.list').addClass('active');
		});

		$('#aiplan .ap-type').hover(function(){},function(){
			$('#aiplan .list').removeClass('active');
		});

		$('#aiplan .ap-val').hover(function(){},function(){
			$('#aiplan .list').removeClass('active');
		});

	},

	getChild : function(){
		var typeId = $('input[name="type"]').val();
		$.get('__CONTROLLER__/ajaxGetAll/pid/'+typeId,function(data){
			console.log(data);
			if(data.state == 200){
				var html = '<i class="iconfont icon-xiangshang"></i>';
				$(data.data).each(function(k,v){
					html += '<span data-id="'+v.id+'">'+v.title+'</span>';
				});
				$('.ap-val .listInner .listMain').html(html);
			}else{
				console.log(data.msg);
			}
		});
	},

	select : function(className,inputName,state){
		state = state==null?false:true;
		$('body').on('click',className+' .listMain span',function(){
			var that = $(this);
			var val = that.attr('data-id');
			var text = that.text();
			$('input[name="'+inputName+'"]').val(val);
			that.parent().parent().parent().removeClass('active');
			that.parent().parent().parent().parent().find('.tit span').text(text).addClass('color000');
			if(state == true){
				aiSearch.getChild();
			}
		});
	},

	submit : function(){
		$('body').on('click','#createNode',function(){
			if(($('input[name="keywords"]').val() == '') || ($('input[name="type"]').val() == '') || ($('input[name="val"]').val() == '')){
				layer.msg('请完善搜索内容');
				return false;
			}else{
				$.cookie('keywords',$('input[name="keywords"]').val());
				$.cookie('type',$('input[name="type"]').val());
				$.cookie('val',$('input[name="val"]').val());
				window.location.href='__CONTROLLER__/selectgoods#scrollResult';
			}
		});
	},

	load : function(){
		this.click();
		this.select('.ap-type','type',true);
		this.select('.ap-val','val');
		this.submit();
		// this.getChild();
	}
}


var public_home = {
	// 登录状态
	member_state : function(){
		$.get('__MODULE__/Member/ajacChkState',function(data){
			var html = '';
			if(data.state == 200){
				html = '<div class="r phone"><a href="__MODULE__/Member/index">个人中心</a><a href="__MODULE__/Member/logout">，退出</a></div>';
			}else{
				html = '<a href="javascript:public_home.pub_reg();" class="reg">注册</a><a href="javascript:public_home.pub_login();" class="login">登录</a>';
			}
			$('#logstate').html(html);
		});
	},
	pub_reg : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/reg' //iframe的url
		}); 
	},
	pub_login : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/login' //iframe的url
		}); 
	},
	load : function(){
		this.member_state();
	}
}


</script>
</body>
</html>