<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_jrxuv59w769lik9.css">
</head>
<body>

<include file='Public:common_layout' />

<div class="pay-page wid1200">
	<div class="orderConfirm">
		<span>生成订单</span>
	</div>
	<form id="addOrder">
		<input type="hidden" name="">
		<div class="pay-info">
			<table class="table pay-table text-c" cellspacing="0">
	            <tbody>
	            	<foreach name="data.goods_attr" item="v">
		            	<tr>
			            	<td>
			            		<div class="info-inner clearfix">
			            			<div class="img l">
			            				<!-- <img src="" title="标样"> -->
			            				<br>
			            			</div>
			            			<div class="info-mail l">
			            				<div class="main clearfix">
				            				<span class="tit">商标名称</span>
				            				<span class="main-text">{$data.goods_name}</span>
				            				<span class="tit">注册类别</span>
				            				<span class="main-text">{$v.type}</span>
				            			</div>
				            			<div class="main clearfix mid">
				            				<span class="tit">商品/服务项</span>
				            				<span class="main-text">{$v.val}</span>
				            				<span class="tit">联系电话</span>
				            				<span class="main-text"><?php echo session('phone'); ?></span>
				            			</div>
			            			</div>
			            		</div>
			            	</td>
		            	</tr>
	            	</foreach>
	            </tbody>
	        </table>

		</div>
		<div class="total text-r">
			<!-- <p>商标注册：300元 x 5件</p> -->
			<p><b><font color="red">¥ {$data.total_price}</font></b></p>
		</div>
		<div class="confirmBtn clearfix">
			<a href="javascript:confirm.toPay();"><div class="tit r">去付款</div></a>
		</div>
	</form>
</div>

<!-- <include file='Public:footer' /> -->

<script>

$(function(){
	public_home.load();
});

var confirm = {

	toPay : function(){
		window.location.href='__CONTROLLER__/confirm_ok/id/<?php echo I("get.id"); ?>';
	},

	load : function(){},
}


var public_home = {
	// 登录状态
	member_state : function(){
		$.get('__MODULE__/Member/ajacChkState',function(data){
			var html = '';
			if(data.state == 200){
				html = '<div class="r phone"><a href="__MODULE__/Member/index">个人中心</a><a href="__MODULE__/Member/logout">，退出</a></div>';
			}else{
				html = '<a href="javascript:public_home.pub_reg();" class="reg">注册</a><a href="javascript:public_home.pub_login();" class="login">登录</a>';
			}
			$('#logstate').html(html);
		});
	},
	pub_reg : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/reg' //iframe的url
		}); 
	},
	pub_login : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/login' //iframe的url
		}); 
	},
	load : function(){
		this.member_state();
	}
}

</script>

</body>
</html>