<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>商标智能方案</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_mnrppvg7864aq0k9.css">
    <!-- 有字库 -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/95051/45873/5a5e2b67f629d8171c551265.css' rel='stylesheet' type='text/css' />
    <!-- 有字库 end -->
    <!-- jquery-cookie -->
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- jquery-cookie end -->
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap end -->
    <!-- jquery-confirm -->
    <link href="https://cdn.bootcss.com/jquery-confirm/1.7.3/jquery-confirm.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery-confirm/1.7.3/jquery-confirm.min.js"></script>
    <!-- jquery-confirm end -->
</head>
<body>


<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span>注册</span>
			<ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul>
		</div>
		<div class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="quick-link r">
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">申请系统</a>
			<a href="javascript:void(0);">方案系统</a>
			<a href="javascript:void(0);">商标在线管理</a>
			<a href="javascript:void(0);">专家库</a>
		</div>
	</div>
</div>

<div class="wid1200">
	<div class="industry">
		<div class="search">
			<form id="connectSearch">
				<div class="searchInner clearfix">
					<input type="text" name="keywords" class="input-text" />
					<select name="type" class="input-select">
						<foreach name="type" item="v">
						<option value="{$v.id}">{$v.title}</option>
						</foreach>
					</select>
					<select name="val" class="input-select"></select>
				</div>
				<div class="submitBox">
					<a class="active" href="javascript:void(0);" id="aiHelp"><i class="iconfont icon-sousuo"></i>智能建议</a>
					<a href="javascript:;" id="toSelf"><i class="iconfont icon-sousuo"></i>自主选择</a>
				</div>
			</form>
		</div>
		<div class="searchResult" id="goodsList">
			<div class="bigtit" id="scrollResult">建议保护的类别及商品/服务项</div>
			<div class="allList" id="addListBox">

				<div class="listInner">
					<div class="tit" data-topid="1">第26类<span>我是名称</span></div>
					<div class="goodsListInner">
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
						<span data-id="1"><b>22222类</b><font>浴巾</font></span>
					</div>
					<div class="update clearfix">
						<a href="javascript:;" class="addGoods"><i class="iconfont icon-icon--"></i>增加商品</a>
						<a href="javascript:;" class="delGoods"><i class="iconfont icon-delete"></i></a>
					</div>
					<div class="childGoodsList">
						<div class="childGoodsListInner">
							<div class="listType l">
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
								<span data-id="212">我是忠分类<i class="iconfont icon-xiangyou"></i></span>
							</div>
							<div class="listGoods l">
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
								<span><i class="iconfont icon-icon--"></i>我是商品项</span>
							</div>
						</div>
					</div>
				</div>

			</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			
		</div>
	</div>
</div>

<script type="text/javascript">

// $.cookie('val',null);

$(function(){

	select.load();
	// 加入默认值
	$('input[name="keywords"]').val($.cookie('keywords'));
	$('select[name="type"]').find('option[value="'+$.cookie('type')+'"]').attr("selected",true); 
});

var select = {
	getChild : function(){
		$.get('__CONTROLLER__/ajaxGetAll/pid/'+$.cookie('type'),function(data){
			console.log(data);
			if(data.state == 200){
				var html = '';
				$(data.data).each(function(k,v){
					html += '<option value="'+v.id+'">'+v.title+'</option>';
				});
				$('select[name="val"]').html(html);
				// 加入默认值
				$('select[name="val"]').find('option[value="'+$.cookie('val')+'"]').attr("selected",true); 
			}else{
				console.log(data.msg);
			}
		});
	},

	showtype : function(){
		$('body').on('click','.update .addGoods',function(){
			var that = $(this).parent().parent();
			var id = that.find('.tit').attr('data-topid');
			var childGoodsList = that.find('.childGoodsList');
			if(childGoodsList.is(':hidden')){
				childGoodsList.show(200);
			}else{
				childGoodsList.hide(200);
			}
			if(childGoodsList.find('.listType span').length == 0){
				$.get('__MODULE__/TrademarkClassification/ajaxGetAllFromPid/pid/'+id,function(data){
					console.log(data);
					if(data.state == 200){
						var html = '';
						$(data.data).each(function(k,v){
							html += '<span data-id="'+v.id+'"><font>'+v.cid+'</font>'+v.title+'<i class="iconfont icon-xiangyou"></i></span>';
						});
						childGoodsList.find('.listType').html(html);
					}else{
						console.log(data);
					}
				});
			}
		});
	},

	add : function(){
		$('body').on('click','.childGoodsList span',function(){
			var that = $(this);
			var id = that.attr('data-id');
			var cid = that.find('b').text();
			var title = that.find('font').text();
			var html = '<span data-id="'+id+'"><b>'+cid+'</b><font>'+title+'</font></span>';
			that.parent().parent().find('.goodsListInner').append(html);
		});
	},

	del : function(){
		$('body').on('click','.update .delGoods',function(){
			$(this).parent().parent().remove();
		});
	},

	loadGoods : function(){
		if(($.cookie('val') == '') || ($.cookie('val') == null)){
			return false;
		}
		$.get('__MODULE__/ConnectIndustry/ajaxGetOneFromId/id/'+$.cookie('val'),function(data){
			console.log(data);
			if(data.state == 200){
				var html = '';
				$(data.data.connect_val_arr).each(function(k,v){
					html += '<div class="listInner"><div class="tit" data-topid="'+v.topcid.id+'">第'+v.topcid.cid+'类<span>'+v.topcid.title+'</span></div><div class="goodsListInner">';
						$(v.childid).each(function(k1,v1){
							html += '<span data-id="'+v1.id+'"><b>'+v1.cid+'</b><font>'+v1.title+'</font></span>';
						});
					html += '</div><div class="update clearfix"><a href="javascript:;" class="addGoods"><i class="iconfont icon-icon--"></i>增加商品</a><a href="javascript:;" class="delGoods"><i class="iconfont icon-delete"></i></a></div><div class="childGoodsList"><div class="childGoodsListInner"><div class="listType l"></div><div class="listGoods l"></div></div></div></div>';
				});
				$('#addListBox').html(html);
			}else{
				console.log(data);
			}
		});
	},

	getThreeChild : function(){
		$('body').on('click','.listType span',function(){
			var that = $(this);
			var id = that.attr('data-id');
			$.get('__MODULE__/TrademarkClassification/ajaxGetAllFromPid/pid/'+id,function(data){
				// console.log(data);
				if(data.state == 200){
					// 先将已经选择好的商品的id放入临时tempArr中，然后循环过滤
					var goodsList = that.parent().parent().parent().parent().find('.goodsListInner span');
					if(goodsList.length > 0){
						var tempArr = [];
						$(goodsList).each(function(k,v){
							var goodsThat = goodsList.eq(k);
							tempArr.push(goodsThat.attr('data-id'));
						});
						var html = '';
						$(data.data).each(function(k,v){
							var isset = '';
							if($.inArray(v.id,tempArr) < 0){
								isset = '';
							}else{
								isset = 'active';
							}
							html += '<span class="'+isset+'" data-id="'+v.id+'"><i class="iconfont icon-icon--"></i><font>'+v.cid+'</font><b>'+v.title+'</b></span>';
						});
					}else{
						// 如果已经选择的个数为0，则不用判断
						var html = '';
						$(data.data).each(function(k,v){
							html += '<span data-id="'+v.id+'"><i class="iconfont icon-icon--"></i><font>'+v.cid+'</font><b>'+v.title+'</b></span>';
						});
					}
					that.parent().parent().find('.listGoods').html(html);
				}
			});
		});
	},

	aiSearch : function(){
		$('body').on('click','#aiHelp',function(){
			if($('#connectSearch input[name=keywords]').val()==''){
				$.confirm({
	                title: '搜索提示',
	                content: '请先输入商标搜索关键字',
	                autoClose: 'cancel|3000',
	                confirmButton: '确定',
	                confirmButtonClass: 'btn-info',
	                cancelButton: '取消',
	            });
				$(this).focus();
			}else{
				$.cookie('keywords',$('input[name="keywords"]').val());
				$.cookie('type',$('input[name="type"]').val());
				$.cookie('val',$('input[name="val"]').val());
				console.log($.cookie('keywords'));
				console.log($.cookie('type'));
				console.log($('input[name=val]').val());
				select.loadGoods();
			}
		});
	},

	selectGoods : function(){
		$('body').on('click','.listGoods span',function(){
			var that = $(this);
			that.addClass('active');
			var id = that.attr('data-id');
			var cid = that.find('font').text();
			var title = that.find('b').text();
			var html = '<span data-id="'+id+'"><b>'+cid+'</b><font>'+title+'</font></span>';
			var goodsList = that.parent().parent().parent().parent().find('.goodsListInner span');
			if(goodsList.length > 0){
				var tempArr = [];
				$(goodsList).each(function(k,v){
					var goodsThat = goodsList.eq(k);
					tempArr.push(goodsThat.attr('data-id'));
				});
				if($.inArray(id,tempArr) < 0){
					that.parent().parent().parent().parent().find('.goodsListInner').append(html);
				}
			}else{
				that.parent().parent().parent().parent().find('.goodsListInner').append(html);
			}
		});
	},

	load : function(){
		this.add();
		this.showtype();
		this.del();
		this.getChild();
		this.loadGoods();
		this.getThreeChild();
		this.selectGoods();
		this.aiSearch();
	}
}

</script>
</body>
</html>