<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>商标智能方案</title>
	<include file="Public/meta" />
    <!-- 有字库 -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/95051/45873/5a5e2b67f629d8171c551265.css' rel='stylesheet' type='text/css' />
    <!-- 有字库 end -->
    <!-- jquery-cookie -->
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- jquery-cookie end -->
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap end -->
    <!-- jquery-confirm -->
    <link href="https://cdn.bootcss.com/jquery-confirm/1.7.3/jquery-confirm.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery-confirm/1.7.3/jquery-confirm.min.js"></script>
    <!-- jquery-confirm end -->
</head>
<body>


<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="logstate r clearfix" id="logstate">
			<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" height="15" style="padding-left: 20px;">
		</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="quick-link r">
			<a href="/" title="首页">首页</a>
			<foreach name='web_nav' item='v'>
				<div class="toplink">
					<a href="{$v.url}" target="_blank" class="bgtit" title="{$v.title}">{$v.title}</a>
					<?php if($v['child']){ ?>
					<div class="child clearfix">
						<foreach name="v.child" item="v1">
							<a href="{$v1.url}" class="childnav" target="_blank"><span>{$v1.title}</span></a>
						</foreach>
					</div>
					<?php } ?>
				</div>
			</foreach>
		</div>
	</div>
</div>

<div class="wid1200">
	<div class="industry">
		<div class="search">
			<form id="connectSearch">
				<div class="searchInner clearfix">
					<input type="hidden" name="goodsattr" value="">
					<input type="hidden" name="cxcls">
					<input type="text" name="keywords" class="input-text" />
					<select name="type" class="input-select">
						<foreach name="type" item="v">
						<option value="{$v.id}">{$v.title}</option>
						</foreach>
					</select>
					<select name="val" class="input-select"></select>
				</div>
				<div class="submitBox">
					<a class="" href="javascript:void(0);" id="aiHelp"><i class="iconfont icon-sousuo"></i>智能建议</a>
					<a href="javascript:;" id="toSelf"><i class="iconfont icon-sousuo"></i>自主选择</a>
				</div>
			</form>
		</div>
		<div class="searchResult clearfix" id="goodsList">
			<div class="bigtit" id="scrollResult"><a href="javascript:;" class="help r"><i class="iconfont icon-gantanhao"></i></a>建议保护的类别及商品/服务项</div>
			<div class="goodsselectedbox">
				<div class="inputbox">
					<input type="text" name="searchname" placeholder="" class="input sm">
					<a href="javascript:;" id="goodssearchbuttim" class="goodssearchbuttim">商品查询</a>
				</div>
				<div class="goodssearchresult">
					<div class="boxinner">
						<div class="innerlist" id="goodssearchresult">
							<div class="loading">
								<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading">
							</div>
						</div>
					</div>
				</div>
				<a href="javascript:;" class="showOrHide" id="showOrHide">收起/展开</a>
			</div>
			<div class="allList" id="addListBox">
				<div class="loading">
					<img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading">
				</div>
			</div>
			<div class="addBigType" id="addBigType">
				<a href="javascript:;" class="add"><i class="iconfont icon-icon--"></i>增加类别</a>
				<div class="typeBox clearfix" style="display: none;"></div>
			</div>
			<div class="sumPrice r" id="sumPrice">
				<p>官费总计：<font color="#d82b2b">0 </font>元</p>
				<p>代理费总计：<font color="#d82b2b">0 </font>元</p>
				<p class="resultTotalPrice">应付总额：<font color="#d82b2b">0 </font>元</p>
			</div>
			<div class="toCreateOrder r">
				<a href="javascript:select.html2pdf();" class="html2pdf">生成方案</a>
				<a href="javascript:select.onekeysearch();">一键检索</a>
				<a href="javascript:select.onlinereg();" class="createOrder">在线注册</a>
			</div>
		</div>
	</div>
</div>

<!-- <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/jspdf/1.3.5/jspdf.debug.js"></script> -->
<!-- <iframe src="__CONTROLLER__/html2pdf" id="html2pdf" style="position: absolute;width: 100%;height:100%;z-index: -100;top:0;opacity: 0"></iframe> -->
<?php /*
<include file='Public:footer' />
*/ ?>
<script type="text/javascript">

// $.cookie('val',null);

$(function(){

	select.load();
	// 加入默认值
	$('input[name="keywords"]').val($.cookie('keywords'));
	$('select[name="type"]').find('option[value="'+$.cookie('type')+'"]').attr("selected",true); 
	select.getChild($.cookie('type'),true);


	// 全局登录注册
	public_home.load();
});

var select = {
	// 选项框中行业变化的时候
	hangueChg : function(){
		$('body').on('change','select[name="type"]',function(){
			var that = $(this);
			select.getChild(that.val(),false);
		});
	},
	getChild : function(typeid,isselect){
		$.get('__CONTROLLER__/ajaxGetAll/pid/'+typeid,function(data){
			// console.log(data);
			var isselect = isselect == true?true:false;
			if(data.state == 200){
				var html = '';
				$(data.data).each(function(k,v){
					html += '<option value="'+v.id+'">'+v.title+'</option>';
				});
				$('select[name="val"]').html(html);
				// if(isselect == true){
					// 加入默认值
					$('select[name="val"]').find('option[value="'+$.cookie('val')+'"]').attr("selected",true); 
				// }
			}else{
				console.log(data.msg);
			}
		});
	},

	showtype : function(){
		$('body').on('click','.update .addGoods',function(){
			var that = $(this).parent().parent();
			var id = that.find('.tit').attr('data-topid');
			var childGoodsList = that.find('.childGoodsList');
			if(childGoodsList.is(':hidden')){
				childGoodsList.show(200);
			}else{
				childGoodsList.hide(200);
			}
			if(childGoodsList.find('.listType span').length == 0){
				$.get('__MODULE__/TrademarkClassification/ajaxGetAllFromPid/pid/'+id,function(data){
					console.log(data);
					if(data.state == 200){
						var html = '';
						$(data.data).each(function(k,v){
							html += '<span data-id="'+v.id+'"><font>'+v.cid+'</font>'+v.title+'<i class="iconfont icon-xiangyou"></i></span>';
						});
						childGoodsList.find('.listType').html(html);
					}else{
						console.log(data);
					}
				});
			}
		});
	},

	add : function(){
		$('body').on('click','.childGoodsList span',function(){
			var that = $(this);
			var id = that.attr('data-id');
			var cid = that.find('b').text();
			var title = that.find('font').text();
			var html = '<span data-id="'+id+'"><b>'+cid+'</b><font>'+title+'</font></span>';
			that.parent().parent().find('.goodsListInner').append(html);
			// 修改商品项隐藏域
			select.getGoodsAttr();
		});
	},

	del : function(){
		$('body').on('click','.update .delGoods',function(){
			var that = $(this);
			var topId = that.parent().parent().find('.tit').attr('data-topid');
			$('.typeBox span[data-id='+topId+']').removeClass('has');
			that.parent().parent().remove();
			// 统计价钱
			select.totalPrice();
			// 修改商品项隐藏域
			select.getGoodsAttr();
		});
	},

	loadGoods : function(){
		if(($.cookie('val') == '') || ($.cookie('val') == null)){
			return false;
		}
		$.get('__MODULE__/ConnectIndustry/ajaxGetOneFromId/id/'+$.cookie('val'),function(data){
			console.log(data);
			if(data.state == 200){
				var html = '';
				$(data.data.connect_val_arr).each(function(k,v){
					html += '<div class="listInner"><div class="tit clearfix" data-topid="'+v.topcid.id+'" data-cid="'+v.topcid.cid+'"><div class="total r">已选择<font class="length">0</font>项，官费<font class="toGongwuyuan">0</font>元，代理费<font class="toMe">0</font>元</div>第'+v.topcid.cid+'类<span>'+v.topcid.title+'</span></div><div class="goodsListInner">';
						$(v.childid).each(function(k1,v1){
							html += '<span data-id="'+v1.id+'"><b>'+v1.cid+'</b><font>'+v1.title+'</font><i class="iconfont icon-shanchu4"></i></span>';
						});
					html += '</div><div class="update clearfix"><a href="javascript:;" class="addGoods"><i class="iconfont icon-icon--"></i>增加商品</a><a href="javascript:;" class="delGoods"><i class="iconfont icon-delete"></i></a></div><div class="childGoodsList"><div class="childGoodsListInner"><div class="listType l"></div><div class="listGoods l"></div></div></div></div>';
				});
				$('#addListBox').html(html);
				// 统计价钱
				select.totalPrice();
				// 修改商品项隐藏域
				select.getGoodsAttr();
				// 重新加载iframe
				// $('#html2pdf').attr('src','__CONTROLLER__/html2pdf');
			}else{
				console.log(data);
			}
		});
	},

	getThreeChild : function(){
		$('body').on('click','.listType span',function(){
			var that = $(this);
			that.parent().find('span').removeClass('active');
			that.addClass('active');
			var id = that.attr('data-id');
			$.get('__MODULE__/TrademarkClassification/ajaxGetAllFromPid/pid/'+id,function(data){
				// console.log(data);
				if(data.state == 200){
					// 先将已经选择好的商品的id放入临时tempArr中，然后循环过滤
					var goodsList = that.parent().parent().parent().parent().find('.goodsListInner span');
					if(goodsList.length > 0){
						var tempArr = [];
						$(goodsList).each(function(k,v){
							var goodsThat = goodsList.eq(k);
							tempArr.push(goodsThat.attr('data-id'));
						});
						var html = '';
						$(data.data).each(function(k,v){
							var isset = '';
							if($.inArray(v.id,tempArr) < 0){
								isset = '';
							}else{
								isset = 'active';
							}
							html += '<span class="'+isset+'" data-id="'+v.id+'"><i class="iconfont icon-icon--"></i><font>'+v.cid+'</font><b>'+v.title+'</b></span>';
						});
					}else{
						// 如果已经选择的个数为0，则不用判断
						var html = '';
						$(data.data).each(function(k,v){
							html += '<span data-id="'+v.id+'"><i class="iconfont icon-icon--"></i><font>'+v.cid+'</font><b>'+v.title+'</b></span>';
						});
					}
					that.parent().parent().find('.listGoods').html(html);
				}
			});
		});
	},

	//行业变动的视时候自送搜索
	autoSearch : function(){
		$('body').on('change','select[name="val"]',function(){
			$('#aiHelp').click();
		});
	},

	// 智能建议
	aiSearch : function(){
		$('body').on('click','#aiHelp',function(){
			// 加载loading
			$('#addListBox').html('<div class="loading"><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading"></div>');
			if($('#connectSearch input[name=keywords]').val()==''){
				$.confirm({
	                title: '搜索提示',
	                content: '请先输入商标搜索关键字',
	                autoClose: 'cancel|3000',
	                confirmButton: '确定',
	                confirmButtonClass: 'btn-info',
	                cancelButton: '取消',
	            });
				$(this).focus();
			}else{
				$.cookie('keywords',$('input[name="keywords"]').val());
				$.cookie('type',$('select[name="type"]').val());
				$.cookie('val',$('select[name="val"]').val());
				console.log($.cookie('keywords'));
				console.log($.cookie('type'));
				console.log($('select[name="val"]').val());
				select.loadGoods();
			}
		});
	},

	// 自主选择
	toSelf : function(){
		$('body').on('click','#toSelf',function(){
			$('#addListBox').html('');
			$('#addBigType .add').click();
		});
	},

	selectGoods : function(){
		$('body').on('click','.listGoods span',function(){
			var that = $(this);
			that.addClass('active');
			var id = that.attr('data-id');
			var cid = that.find('font').text();
			var title = that.find('b').text();
			var html = '<span data-id="'+id+'"><b>'+cid+'</b><font>'+title+'</font><i class="iconfont icon-shanchu4"></i></span>';
			var goodsList = that.parent().parent().parent().parent().find('.goodsListInner span');
			if(goodsList.length > 0){
				var tempArr = [];
				$(goodsList).each(function(k,v){
					var goodsThat = goodsList.eq(k);
					tempArr.push(goodsThat.attr('data-id'));
				});
				if($.inArray(id,tempArr) < 0){
					that.parent().parent().parent().parent().find('.goodsListInner').append(html);
				}
			}else{
				that.parent().parent().parent().parent().find('.goodsListInner').append(html);
			}
			select.totalPrice();
			// 修改商品项隐藏域
			select.getGoodsAttr();
		});
	},

	delSelectActive : function(){
		$('body').on('click','.goodsListInner span',function(){
			var that = $(this);
			var id = that.attr('data-id');
			// console.log(id);
			that.parent().parent().find('.childGoodsList .listGoods span[data-id='+id+']').removeClass('active');
			that.remove();
			// 统计价钱
			select.totalPrice();
			// 修改商品项隐藏域
			select.getGoodsAttr();
		});
	},

	addBigType : function(){
		$('body').on('click','#addBigType .add',function(){
			var that = $(this).parent();
			var box = that.find('.typeBox');
			if(box.is(':hidden')){
				box.show(200);
			}else{
				box.hide(200);
			}
			if(box.find('span').length <= 0){
				$.get('__MODULE__/TrademarkClassification/ajaxGetAllFromPid/pid/0',function(data){
					if(data.state == 200){
						var html = '';
						// 这里判断哪些大类是不是选择过，选择过的话添加class，不能再次选择
						var tempArr = [];
						$('.listInner .tit').each(function(k,v){
							tempArr.push($(this).attr('data-topid'));
						});
						$(data.data).each(function(k,v){
							var hasId = '';
							if($.inArray(v.id,tempArr) < 0){
								hasId = '';
							}else{
								hasId = 'has';
							}
							html += '<span class="'+hasId+'" data-id="'+v.id+'" data-cid="'+v.cid+'" data-title="'+v.title+'"><font>第'+v.cid+'类</font>'+v.title+'</span>';
						});
						box.html(html);
					}else{
						var html = '<small>数据获取失败！</small>';
						box.html(html);
					}
				});
			}
		});

		// 添加一个类别
		$('body').on('click','.typeBox span',function(){
			var that = $(this);
			that.addClass('has');
			// 这里判断哪些大类是不是选择过，选择过的话添加class，不能再次选择
			var tempArr = [];
			$('.listInner .tit').each(function(k,v){
				tempArr.push($(this).attr('data-topid'));
			});
			if($.inArray(that.attr("data-id"),tempArr) < 0){
				var html = '<div class="listInner"><div class="tit" data-topid="'+that.attr("data-id")+'" data-cid="'+that.attr("data-cid")+'"><div class="total r">已选择<font class="length">0</font>项，官费<font class="toGongwuyuan">0</font>元，代理费<font class="toMe">0</font>元</div>第'+that.attr("data-cid")+'类<span>'+that.attr("data-title")+'</span></div><div class="goodsListInner"></div><div class="update clearfix"><a href="javascript:;" class="addGoods"><i class="iconfont icon-icon--"></i>增加商品</a><a href="javascript:;" class="delGoods"><i class="iconfont icon-delete"></i></a></div><div class="childGoodsList"><div class="childGoodsListInner"><div class="listType l"></div><div class="listGoods l"></div></div></div></div>';
				$('#addListBox').append(html);
			}
		});
	},

	totalPrice : function(){
		var toGongwuyuanTotal = 0;
		var toMetotal = 0;
		var resultTotalPrice = 0;
		var _i = 0;
		$('.allList .listInner').each(function(k,v){
			var that = $(this);
			var selectLength = that.find('.goodsListInner span').length;
			var totalPrice = 300;
			var toMe = 1000;
			var j = 0;
			console.log(selectLength);
			if(selectLength > 0){
				if(selectLength > 10){
					for(var i=1; i<=selectLength-10; i++){
						// 超过10个后，官费每个加30，代理费每个加70
						totalPrice += 30;
						// 代理费加70
						toMe += 70;
						j++;
					}
					if(j == (selectLength-10)){
						that.find('.tit .total .toGongwuyuan').text(totalPrice);
						// 所有官费相加
						toGongwuyuanTotal += totalPrice;

						// 代理费写入页面
						that.find('.tit .total .toMe').text(toMe);
						// 所有代理费相加
						toMetotal += toMe;
					}
				}else{

					that.find('.tit .total .toGongwuyuan').text(totalPrice);
					// 所有官费相加
					toGongwuyuanTotal += totalPrice;

					// 所有代理费相加
					toMetotal += toMe;
					that.find('.tit .total .toMe').text(toMe);

				}
			}else{
				that.find('.tit .total .toGongwuyuan').text(0);
				that.find('.tit .total .toMe').text(0);
			}
			// 统计选择的个数
			that.find('.tit .total .length').text(selectLength);
			_i++;
		});
		if(_i == $('.allList .listInner').length){
			$('#sumPrice p').eq(0).find('font').text(toGongwuyuanTotal);
			$('#sumPrice p').eq(1).find('font').text(toMetotal);
			$('#sumPrice p').eq(2).find('font').text(toMetotal+toGongwuyuanTotal);
		}
	},

	getGoodsAttr : function(){
		// 保存商品分类及商品项的id
		var temp_arr = '';
		// 商品分类cid
		var tempcxcls = [];
		if($('#addListBox .listInner').length > 0){
			$('#addListBox .listInner').each(function(k,v){
				var that = $(this);
				var topid = that.find('.tit').attr('data-topid');
				var cid = that.find('.tit').attr('data-cid');
				if(that.find('.goodsListInner span').length > 0){
					tempcxcls.push(cid);
					temp_arr += topid+'-';
					that.find('.goodsListInner span').each(function(k1,v1){
						var thats = $(this);
						var dataid = thats.attr('data-id');
						temp_arr += dataid+'.';
					});
					temp_arr += ',';
				}
			});
		}
		temp_arr = temp_arr.replace(/.,/g,'|');
		temp_arr = temp_arr.replace(/\|$/,'');
		// 存入cookie
		$.cookie('temp_arr',temp_arr);
		$('input[name="goodsattr"]').val(temp_arr);

		// 保存商品分类及商品项的cid
		$('input[name="cxcls"]').val(tempcxcls);
		$.cookie('tempcxcls',$('input[name="cxcls"]').val());
	},

	onlinereg : function(){
		if($('input[name="keywords"]').val() == ''){
			layer.msg('请输入关键字');
			return false;
		}
		if($('select[name="type"]').val() == ''){
			layer.msg('请选择行业类别');
			return false;
		}
		if($('select[name="val"]').val() == ''){
			layer.msg('请选择具体行业');
			return false;
		}
		if($('input[name="goodsattr"]').val() == ''){
			layer.msg('请勾选分类或商品项');
			return false;
		}
		$.post('__MODULE__/OrderDetail/order_create_zizhu',$('#connectSearch').serialize(),function(data){
			if(data.state == 200){
				window.location.href=data.url;
			}else if(data.state == 222){
				public_home.pub_login();
			}else{
				layer.msg(data.msg);
			}
		});
	},

	// 查询商品 
	goodssearch : function(){
		$('body').on('click','#goodssearchbuttim',function(){
			$('#goodssearchresult').html('<div class="loading"><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" alt="loading"></div>');
			$.get('__MODULE__/TrademarkClassification/ajaxToSearch/kw/'+$('input[name="searchname"]').val(),function(data){
				console.log(data);
				if(data.state == 200){
					var html = '';
					$(data.data).each(function(k,v){
						html += '<li class="clearfix"><div class="bgtit">第'+v.cid+'类 '+v.title+'</div><div class="infos">';
						$(v.child).each(function(k1,v1){
							html += '<i>'+v1.cid+' '+v1.title+'</i>、';
						});
						html += '</div></li>';
					});
					$('#goodssearchresult').html(html);

					// 判断是否可下拉
					if($('#goodssearchresult li').length > 7){
						$('#showOrHide').text('收起/展开（可滑动滚动条）');
					}
				}else{
					var html = '';
					html = '<div class="nodata"><small>'+data.msg+'</small></div>';
					$('#goodssearchresult').html(html);
				}
			});
			$('.goodsselectedbox .showOrHide').show();
			$('.goodsselectedbox .goodssearchresult .boxinner').show();
		});

		// 显示隐藏结果
		$('body').on('click','#showOrHide',function(){
			if($('.goodssearchresult .boxinner').is(':hidden')){
				$('.goodssearchresult .boxinner').show(200);
			}else{
				$('.goodssearchresult .boxinner').hide(200);
			}
		});
	},

	click : function(){
		$('body').on('click','.submitBox a',function(){
			$('.submitBox a').removeClass('active');
			$(this).addClass('active');
			$('#sumPrice p').eq(0).find('font').text(0);
			$('#sumPrice p').eq(1).find('font').text(0);
			$('#sumPrice p').eq(2).find('font').text(0);
		});
	},

	onekeysearch : function (){
		window.location.href='__CONTROLLER__/onekeysearch';
	},

	html2pdf : function(){
		window.open('__CONTROLLER__/html2pdf');
		// $("#html2pdf")[0].contentWindow.html2pdf();
	},

	load : function(){
		this.add();
		this.showtype();
		this.del();
		this.loadGoods();
		this.getThreeChild();
		this.selectGoods();
		this.aiSearch();
		this.delSelectActive();
		this.addBigType();
		// 行业变动的时候，二级联动
		this.hangueChg();
		// 自主选择
		this.toSelf();
		// 自动搜索
		this.autoSearch();
		// 商品查询
		this.goodssearch();

		this.click();
	}
}


var public_home = {
	// 登录状态
	member_state : function(){
		$.get('__MODULE__/Member/ajacChkState',function(data){
			var html = '';
			if(data.state == 200){
				html = '<div class="r phone"><a href="__MODULE__/Member/index">个人中心</a><a href="__MODULE__/Member/logout">，退出</a></div>';
			}else{
				html = '<a href="javascript:public_home.pub_reg();" class="reg">注册</a><a href="javascript:public_home.pub_login();" class="login">登录</a>';
			}
			$('#logstate').html(html);
		});
	},
	pub_reg : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/reg' //iframe的url
		}); 
	},
	pub_login : function(){
		layer.open({
			type: 2,
			title:'',
			shadeClose: true,
			shade: 0.8,
			area: ['803px', '604px'],
			content: '__MODULE__/Member/login' //iframe的url
		}); 
	},
	load : function(){
		this.member_state();
	}
}


</script>
</body>
</html>