<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$web_name}</title>
    <include file='Public/meta' />
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span onclick="window.location.href='__MODULE__/Member/reg'">注册</span>
			<!-- <ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul> -->
		</div>
		<div onclick="window.location.href='__MODULE__/Member/login'" class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide">
				<foreach name="layoutdata.menu" key="k" item="v">
					<div class="out">
						<div class="tit"><a href="{$v.url}">{$v.title}</a></div>
						<div class="sometit clearfix">
							<foreach name="v.goods_limit" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
						<?php if($k == 0){
							$top = '-1px';
						} elseif($k == 1){
							$top = '-86px';
						} elseif($k == 2){
							$top = '-171px';
						} elseif($k == 3){
							$top = '-238px';
						} elseif($k == 4){
							$top = '-341px';
						}
						?>
						<div class="hidecate clearfix" style="top:{$top};">
							<foreach name="v.goods" item="v1">
								<a href="{$v1.url}" target="_blank" title="{$v1.goods_name}">{$v1.goods_name}</a>
							</foreach>
						</div>
					</div>
				</foreach>
			</div>
		</div>
		<div class="quick-link r">
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">申请系统</a>
			<a href="javascript:void(0);">方案系统</a>
			<a href="javascript:void(0);">商标在线管理</a>
			<a href="__MODULE__/ExpertsWenda/index" target="_blank">专家库</a>
		</div>
	</div>
</div>

<div class="uploadsucc">
	<a href=""><img src="__PUBLIC__/home/img/aiplansucc.jpg"></a>
</div>


<include file='Public:footer' />


</body>
</html>