<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>商标智能方案</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="/dist/home/css/global.css">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="/dist/home/css/index.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_86bzmmbf0dl323xr.css">
    <!-- 有字库 -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/95051/45873/5a5e2b67f629d8171c551265.css' rel='stylesheet' type='text/css' />
    <!-- 有字库 end -->
</head>
<body class="aiplan">

<div class="full">
	<div class="header-box">
		<div class="header clearfix">
			<div class="logo">
				<!-- <img src="" alt="logo"> -->
				logo
			</div>
			<div class="nav">
				<a href="/">首页</a>
				<a class="active" href="#">商标智能方案</a>
				<a href="#">商标查询</a>
				<a href="#">在线申请</a>
				<a href="#">知识产权管理</a>
				<a href="#">知识产权专家库</a>
			</div>
			<div class="login-box">
				<a href="__MODULE__/Member/reg" class="reg">注册</a>
				<a href="__MODULE__/Member/login" class="login">登录</a>
			</div>
		</div>
	</div>
	<div class="topbg"></div>
</div>

<div class="search-box">
	<div class="tit">
		<span>商标检索</span><span>智能方案</span>
	</div>
	<div class="search">
		
	</div>
</div>

</body>
</html>