<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$name}百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/detail.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_9yxm5gf37m0zr529.css">
</head>
<body>

<include file='Public:common_layout' />

<div class="wid1200">
	<div class="detail clearfix">
		<div class="cates l">
			<h3 class="top-tit">相关产品推荐</h3>
			<div class="cate-list">
				<foreach name="data.menu" item="v">
				<div class="list-inner">
					<div class="big-tit"><a href="{$v.url}" title="{$v.title}"><i class="iconfont"></i><span class="tit">{$v.title}</span></a></div>
					<div class="child-two">
						<foreach name="v.goods" item="goods">
							<a href="{$goods.url}" title="{$goods.goods_name}">{$goods.goods_name}</a>
						</foreach>
					</div>
				</div>
				</foreach>
			</div>
		</div>
		<div class="detail-all r">
			<div class="product-baseinfo clearfix">
				<div class="pro-pic l">
					<img src="{$data.goodsinfo.goods_thumb}">
				</div>
				<form id="buyForm" action="" method="post">
					<input type="hidden" name="id" value="{$data.goodsinfo.goods_id}">
					<input type="hidden" name="goods_name" value="{$data.goodsinfo.goods_name}">
					<input type="hidden" name="goods_price" value="{$data.goodsinfo.goods_default_price}">
					<input type="hidden" name="send" value="ok">
					<ul class="baseinfo r">
						<li><h4 class="tit">{$data.goodsinfo.goods_name}</h4></li>
						<li><p class="tips">{$data.goodsinfo.goods_tips}</p></li>
						<!-- <li class="types clearfix text-c">
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
						</li> -->
						<li class="price">价格：<span><b>{$data.goodsinfo.goods_default_price} 元</b></span></li>
						<li class="other clearfix">
							<span class="l">数量：</span>
							<div class="num-box l clearfix">
								<span class="l reduce" id="reduce"><i class="iconfont icon-jian"></i></span>
								<span class="l good_nums_input"><input type="text" name="good_nums" value="1"></span>
								<span class="l add" id="add"><i class="iconfont icon-jia"></i></span>
							</div>
							<div class="btns r">
								<a href="javascript:detailIndex.chk();" class="buy_now">立即购买</a>
								<a href="javascript:detailIndex.add_to_car();" id="add_to_car" class="add_to_car">加入购物车</a>
								<a href="#" class="need_help">详情咨询</a>
							</div>
						</li>
					</ul>
				</form>
			</div>
			<div class="detail-banner">
				<img src="__PUBLIC__/home/img/detail_banner.jpg">
			</div>
			<div class="other-product">
				
			</div>
			<div class="details-info">
				<div class="tit clearfix">
					<span class="active">服务介绍</span>
					<span>常见问题</span>
				</div>
				<div class="detail-main">{$data.goodsinfo.goods_content}</div>
			</div>
		</div>
	</div>
</div>

<include file='Public:footer' />

<script type="text/javascript">
	
$(function(){
	detailIndex.load();
});

var detailIndex = {

	chk : function(){
		if(true){
			$.post('__MODULE__/OrderDetail/creat_order',$('#buyForm').serialize(),function(data){
				if(data.state == 200){
					window.location.href = data.url;
				}else{

				}
			});
		}
	},

	add_to_car : function(){
		$.post('__MODULE__/GoodsCar/add_to_car',$('#buyForm').serialize(),function(data){
			if(data.state == 200){
				// 添加成功
				alert('成功');
				window.location.href="__MODULE__/GoodsCar/car";
			}else{
				alert('添加失败');
			}
		});
	},

	load : function(){

	},
}

</script>

</body>
</html>