<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$name}百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/detail.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_9yxm5gf37m0zr529.css">
    <!-- layer -->
	<link href="https://cdn.bootcss.com/layer/3.0.3/skin/default/layer.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
</head>
<body>

<include file='Public:common_layout' />

<div class="wid1200">
	<div class="detail clearfix">
		<div class="cates l">
			<h3 class="top-tit">相关产品推荐</h3>
			<div class="cate-list">
				<foreach name="data.menu" item="v">
				<div class="list-inner">
					<div class="big-tit"><a href="{$v.url}" title="{$v.title}"><i class="iconfont"></i><span class="tit">{$v.title}</span></a></div>
					<div class="child-two">
						<foreach name="v.goods" item="goods">
							<a href="{$goods.url}" title="{$goods.goods_name}">{$goods.goods_name}</a>
						</foreach>
					</div>
				</div>
				</foreach>
			</div>
		</div>
		<div class="detail-all r">
			<div class="product-baseinfo clearfix">
				<div class="pro-pic l">
					<img src="{$data.goodsinfo.goods_thumb}">
				</div>
				<form id="buyForm" action="" method="post">
					<input type="hidden" name="id" value="{$data.goodsinfo.goods_id}">
					<input type="hidden" name="goods_name" value="{$data.goodsinfo.goods_name}">
					<input type="hidden" name="goods_price" value="{$data.goodsinfo.goods_default_price}">
					<input type="hidden" name="goods_attr" value="">
					<input type="hidden" name="send" value="ok">
					<ul class="baseinfo r">
						<li><h4 class="tit">{$data.goodsinfo.goods_name}</h4></li>
						<li><p class="tips">{$data.goodsinfo.goods_tips}</p></li>
						<!-- <li class="types clearfix text-c">
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
						</li> -->
						<?php if(I('get.id') == 19){ ?>
						<li class="jisuan clearfix">
							<a href="__MODULE__/InternationalReg/danduguojia" title="去计算">去计算</a>
						</li>
						<?php }elseif(I('get.id') == 20){ ?>
						<li class="jisuan clearfix">
							<a href="__MODULE__/InternationalReg/madeli" title="去计算">去计算</a>
						</li>
						<?php }elseif(I('get.id') == 38){ ?>
						<li class="jisuan clearfix">
							<a href="__MODULE__/InternationalReg/oumeng" title="去计算">去计算</a>
						</li>
						<?php }else{ ?>
						<?php if($data['goods_attr']){ ?>
						<div class="attrbox">
							<?php if($data['goods_attr']['type1']){ ?>
							<div class="attr" data-type="1">
								<div class="inner">
									<foreach name="data.goods_attr.type1" item="v" key="k">
										<span data-id="{$v.id}" data-price="{$v.attr_price}" data-tips="{$v.tips}" class="<?php if($k==0)echo 'cur'; ?>">{$v.attr_name}<i class="iconfont icon-xiasanjiao"></i></span>
									</foreach>
								</div>
							</div>
							<?php } ?>
							<?php if($data['goods_attr']['type0']){ ?>
							<div class="attr" data-type="0">
								<div class="tit sm">可选：</div>
								<div class="inner">
									<foreach name="data.goods_attr.type0" item="v" key="k">
										<span data-id="{$v.id}" data-price="{$v.attr_price}">{$v.attr_name}<i class="iconfont icon-xiasanjiao"></i></span>
									</foreach>
								</div>
							</div>
							<?php } ?>
						</div>
						<?php } ?>
						<li class="price">价格：<span><b>{$data.goodsinfo.goods_default_price} 元</b></span></li>
						<li class="other clearfix">
							<span class="l">数量：</span>
							<div class="num-box l clearfix">
								<span class="l reduce" id="reduce"><i class="iconfont icon-jian"></i></span>
								<span class="l good_nums_input"><input type="text" name="good_nums" value="1"></span>
								<span class="l add" id="add"><i class="iconfont icon-jia"></i></span>
							</div>
							<div class="btns r">
								<a href="javascript:detailIndex.chk();" class="buy_now">立即购买</a>
								<a href="javascript:detailIndex.add_to_car();" id="add_to_car" class="add_to_car">加入购物车</a>
								<a href="#" class="need_help">详情咨询</a>
							</div>
						</li>
						<?php } ?>
					</ul>
				</form>
			</div>
			<div class="detail-banner">
				<img src="__PUBLIC__/home/img/detail_banner.jpg">
			</div>
			<div class="other-product">
				
			</div>
			<div class="details-info">
				<div class="tit clearfix">
					<span class="active">服务介绍</span>
					<span>常见问题</span>
				</div>
				<div class="tabmain">
					<div class="detail-main cur li">{$data.goodsinfo.goods_content}</div>
					<div class="li pro">
						<div class="inner">
							<foreach name="goodspro" item="v">
								<a href="{$v.url}" title="{$v.title}">{$v.title}</a>
							</foreach>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<include file='Public:footer' />

<script type="text/javascript">
	
$(function(){
	detailIndex.load();
});

var detailIndex = {

	init : function(){
		var price = 0;
		var goods_attr = [];
		$('.attrbox span.cur').each(function(){
			price += Number($(this).attr('data-price'));
			goods_attr.push($(this).attr('data-id'));
		});
		$('.price span b').text(price+'元');
		$('input[name="goods_price"]').val(price);
		$('input[name="goods_attr"]').val(goods_attr);

		
		$('.baseinfo .tips').text($('.attrbox .inner span.cur').attr('data-tips'));
	},

	chk : function(){
		if(true){
			$.post('__MODULE__/OrderDetail/creat_order',$('#buyForm').serialize(),function(data){
				console.log(data);
				if(data.state == 200){
					window.location.href = data.url;
				}else if(data.state == 201){
					public_home.pub_login();
				}
			});
		}
	},

	add_to_car : function(){
		$.post('__MODULE__/GoodsCar/add_to_car',$('#buyForm').serialize(),function(data){
			if(data.state == 200){
				// 添加成功
				layer.msg('添加成功');
				window.location.href="__MODULE__/GoodsCar/car";
			}else if(data.state == 201){
				public_home.pub_login();
			}else{
				layer.msg('添加失败');
			}
		});
	},

	click : function(){
		// reduce 
		$('body').on('click','#reduce',function(){
			var nums = $('input[name="good_nums"]').val();
			if(nums > 1){
				$('input[name="good_nums"]').val(Number(nums)-Number(1));
			}
		});

		// add 
		$('body').on('click','#add',function(){
			var nums = $('input[name="good_nums"]').val();
			$('input[name="good_nums"]').val(Number(nums)+Number(1));
		});

		// 选择价钱
		$('body').on('click','.attrbox .inner span',function(){
			var that = $(this);
			var type = that.parent().parent().attr('data-type');
			if(that.attr('data-id') == 35){
				window.location.href="__MODULE__/ConnectIndustry/aiplan";
			}else{
				$('.other .btns').html('<a href="javascript:detailIndex.chk();" class="buy_now">立即购买</a><a href="javascript:detailIndex.add_to_car();" id="add_to_car" class="add_to_car">加入购物车</a><a href="#" class="need_help">详情咨询</a>');
				$('.baseinfo .tips').text(that.attr('data-tips'));
			}
			if(type == 1){
				that.parent().find('span').removeClass('cur');
				that.addClass('cur');
			}else{
				if(that.hasClass('cur')){
					that.removeClass('cur');
				}else{
					that.addClass('cur');
				}
			}

			// 计算价格
			detailIndex.init();
		});
	},

	tab : function(){
		// detail与pro切换
		$('.details-info .tit span').on('click',function(){
			var index = $(this).index();
			$('.details-info .tabmain .li').removeClass('cur').eq(index).addClass('cur');
		});
	},

	load : function(){
		<?php if($data['goods_attr']){ ?>
		this.init();
		<?php } ?>
		this.click();
		this.tab();
	},
}

</script>

</body>
</html>