<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$name}百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/detail.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_9yxm5gf37m0zr529.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span>注册</span>
			<!-- <ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul> -->
		</div>
		<div class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide"></div>
		</div>
		<div class="quick-link r">
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">知识产权专家顾问</a>
		</div>
	</div>
</div>

<style type="text/css">
	
.test .table{
	width: 100%;
}

</style>

<div class="container">
	<div class="row">
		<form class="form-horizontal" role="form" id="search">
		  <div class="form-group">
		    <label for="apikey" class="col-sm-2 control-label">关键字</label>
		    <div class="col-sm-10">
		      <input type="text" name="apikey" class="form-control" id="apikey" placeholder="请输入关键字">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="cxcls" class="col-sm-2 control-label">查询类别</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="cxcls" id="cxcls" placeholder="查询类别，全类：空；单类：01；多类：01,03,05">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="cxtype" class="col-sm-2 control-label">查询类别</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="cxtype" id="cxtype" placeholder="查询类型，1-注册号；2-商标名称；3-申请人">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" id="submit" class="btn btn-default">进入邮箱</button>
		    </div>
		  </div>
		</form>
	</div>
</div>


<div class="wid1200">
	<div class="test clearfix">
		<div class="cates l">
			<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>表格标题</th>
					<th>表格标题</th>
					<th>表格标题</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>表格单元格</td>
					<td>表格单元格</td>
					<td>表格单元格</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>

<div class="full">
	<div class="wid1200 bor_top_1px">
		<div class="footer text-c">
			<p>备案信息</p>
		</div>
	</div>
</div>

<script type="text/javascript">

$(function(){
	search.load();
});
	
var search = {
	submit : function(){
		$('body').on('click','#submit',function(){
			$.post('__MODULE__/Goods/get',$('#search').serialize(),function(data){
				console.log(data);
				var _res1 = data.match(/{.*}/g);
				console.log(_res1);
				var d = JSON.parse(_res1);
				console.log(d);
			});
			return false;
		});
	},
	load : function(){
		this.submit();
	}
}

</script>

</body>
</html>