<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="description" content="描述">
    <meta name="keywords" content="关键字">
    <title>百一知识产权</title>
    <!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_36rsj1tjl09q9f6r.css">
</head>

<body>
    <div class="full commen-header">
        <div class="quick-nav wid1200 clearfix">
            <div class="r app">
                <span>移动应用</span>
                <div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
            </div>
            <div class="r reg">
                <span>注册</span>
                <ul>
                    <li>个人注册</li>
                    <li>企业注册</li>
                </ul>
            </div>
            <div class="r login">登录</div>
            <div class="r phone">客服电话：40000000000</div>
        </div>
    </div>
    <div class="pub-header wid1200 clearfix">
        <div class="logo-header clearfix">
            <div class="logo l">
                <a href="#"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
            </div>
            <div class="search r clearfix">
                <form action="" method="post" id="search-form">
                    <div class="type l">
                        <div class="shows">
                            <span>服务类型</span><i class="iconfont icon-bottom"></i>
                        </div>
                        <div class="lists">
                            <span data-name="类型1">类型1</span>
                            <span data-name="类型2">类型2</span>
                        </div>
                    </div>
                    <div class="input-search l">
                        <input type="text" class="input-text" placeholder="请输入搜索关键字">
                    </div>
                    <div class="submit l">
                        <a href="javascript:;" id="search-submit"><i class="iconfont icon-sousuo"></i></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="pub-navs clearfix">
            <div class="navs-list l text-c">
                <h4>全部服务分类</h4>
                <div class="nav-box hide"></div>
            </div>
            <div class="quick-link r">
                <a href="#">首页</a>
                <a href="#">首页</a>
                <a href="#">首页</a>
                <a href="#">首页</a>
                <a href="#">首页</a>
                <a href="#">首页</a>
                <a href="#">知识产权专家顾问</a>
            </div>
        </div>
    </div>
    <div class="shop-cart">
        <div class="cart-box">
            <form id="toCar" method="post">
                <table class="table car-table text-c">
                    <caption>购物车小计</caption>
                    <thead>
                        <tr>
                            <th class="text-l">
                                <label for="chkall"><input type="checkbox" name="chkall"> 全选</label>
                            </th>
                            <th>服务类型</th>
                            <th>单价（元）</th>
                            <th>数量</th>
                            <th>小计</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach name="data" item="v">
                            <tr data-id="{$v.goods_name}">
                                <th align="left"><input type="checkbox" name="chkone"></th>
                                <td>
                                    {$v.goods_name}
                                    <input type="hidden" name="goods_name[]" value="{$v.goods_name}">
                                    <input type="hidden" name="id[]" value="{$v.goods_id}">
                                    <input type="hidden" name="goods_price[]" value="{$v.goods_default_price}">
                                </td>
                                <td>{$v.goods_default_price}元</td>
                                <td>
                                    <div class="num-box clearfix">
                                        <span class="reduce l">-</span>
                                        <input type="text" name="good_nums[]" value="{$v.nums}" class="goods_num l" id="goods_num">
                                        <span class="add l">+</span>
                                    </div>
                                </td>
                                <td>{$v.total_price}</td>
                                <td><a href="javascript:void(0);" id="del">删除</a></td>
                            </tr>
                        </foreach>
                        <tr>
                            <td colspan="6">
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <input type="hidden" name="send" value="ok">
                                <span class="res to_pay r"><a href="javascript:car.chk();">去结算</a></span>
                                <span class="res total_money r">总价：<font color="red"><b><img src="https://cdn.bootcss.com/layer/3.1.0/theme/default/loading-2.gif" height="14" /></b>元</font></span>
                                <span class="res totel_num r">已选<font color="red">2</font>件商品</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="full">
        <div class="wid1200 bor_top_1px">
        	<div class="reputation clearfix">
        		<div class="lists img1 l">
        			<p>支付安全</p>
        			<span>明码标价支付及信息安全</span>
        		</div>
        		<div class="lists img2 l">
        			<p>支付安全</p>
        			<span>明码标价支付及信息安全</span>
        		</div>
        		<div class="lists img3 l">
        			<p>支付安全</p>
        			<span>明码标价支付及信息安全</span>
        		</div>
        	</div>
            <div class="footer text-c">
                <p>备案信息</p>
            </div>
        </div>
    </div>
<script type="text/javascript">
    
var car = {
    chk : function(){
        $.post('__MODULE__/OrderDetail/creat_order',$('#toCar').serialize(),function(data){
            // console.log(data);
            if(data.state == 200){
                window.location.href=data.url;
            }else{
                alert(data.msg);
            }
        });
    },
    load : function(){}
}

</script>

</body>

</html>